{{ attach_library('nysenate_theme/quick-facts') }}

<div class="c-block c-stats--container c-stats--container--about c-senate-quick-facts--container {{ modifier }} {{ columns }} {{ classes }}">
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="c-container--header">
    <h3 class="c-container--title">{{ title }}</h3>
  </div>
  <span class="c-stats--highlight u-mobile-only"></span>

  <div class="c-carousel--quick-facts c-carousel--nav u-mobile-only">
    <button class="c-carousel--btn prev hidden">prev</button>
    <button class="c-carousel--btn next">next</button>
  </div>
  <ul id="js-carousel-about-stats" class="js-carousel c-carousel">
    {% for fact in facts %}
      <li class="c-carousel--item c-stats--item {% if fact.status %}show-icons{% endif %}">
        {% if fact.link %}
        <a href="{{ fact.link }}" class="c-senate-quick-facts__button" data-tab="{{ fact.panel_id }}">
          <h4 class="c-stat">{{ fact.statistic }}</h4>
          <p class="c-stat--descript">{{ fact.description }}</p>
        </a>
        {% else %}
            <h4 class="c-stat">{{ fact.statistic }}</h4>
            <p class="c-stat--descript">{{ fact.description }}</p>
        {% endif %}
        {% if fact.status %}
          <span class="c-stat--illus c-illus__{{ fact.status }}"></span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
