{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'facet',
  ]
%}
{{ attach_library('nysenate_theme/dashboard-lists') }}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title_suffix }}
    {% block content %}
    <div class="view-filters">
      {{ content }}
    </div>
    {% endblock %}

    <div class="filter-wrapper {% if empty_list_title %}filter-wrapper--empty{% endif %}">
      {% for filter_item in filter_items %}
        <div>
          <label for="edit-type">
            {{ filter_item.label }}
          </label>
          <div class="view-filters">
            <div class="js-form-item form-item js-form-type-select form-type-select">
              <select id="edit-type-{{ loop.index }}" name="edit-type" class="form-select">
                {% for select_option in filter_item.select_options %}
                  <option value="{{ select_option.value }}" {% if loop.first %} selected="selected" {% endif %}>{{ select_option.text }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
