{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% if content and content.field_tab_names %}
  {{ attach_library('nysenate_theme/nysenate-tabs') }}
  {% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ] %}
  <div{{ attributes.addClass(classes) }}>
    <div class="newsroom-content l-row">
      <div class="l-tab-bar" role="tablist">
        <div class="c-tab--arrow u-mobile-only"></div>
        {% for key, tab in content.field_tab_names %}
          {% if key matches '/^\\d+$/' %}
            {% set safe_name = tab['#context']['value']|lower|preg_replace('/[^-_0-9a-z]/', '-') %}
            {% set full_name = "tab--#{safe_name}" %}
            {% set is_first = key == "0" %}
              <button class="c-tab{{ is_first ? ' active' : '' }}" 
                type="tab" 
                name="{{ safe_name }}"
                value="#panel{{ key + 1 }}" id="{{ full_name }}"
                aria-haspopup="true"
                aria-selected="true"
                aria-expanded="true"
                aria-controls="{{ item.id }}">
                {{ tab['#context']['value'] }}
              </button>
          {% endif %}
        {% endfor %}
      </div>
      
      <div class="tabs-content">
        <div class="aria-announcement visually-hidden" aria-atomic="true" aria-live="polite" tabindex="-1"> </div>
        {% for key in content.field_tab_names|keys %}
          {% if key matches '/^\\d+$/' and content.field_block_views[key] %}
            <div
                class="panel-pane pane-views pane-news-by-issue content{{ key == "0" ? ' active' : '' }}"
                id="panel{{ key + 1 }}" role="tabpanel">
              {{ content.field_block_views[key] }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
