{{ attach_library('nysenate_theme/newsroom-landing') }}

<div class="c-container {% if news or legislation %} c-news-container {% endif %} newsroom-landing">
  <div class="c-container--header">
    <h2 class="c-container--title">
      {% if news %}
        {{cta_name|default('Newsroom')}}
      {% elseif events %}
        Upcoming Events
      {% else %}
        Legislation
      {% endif %}
    </h2>
    <a href="{{ cta_url }}" class="c-container--link">
      {% if news %}
        {{cta_label|default('Go to Newsroom')}}
      {% elseif events %}
        Go to Events
      {% else %}
        Go to Legislation
      {% endif %}
    </a>
  </div>
  <div>
    {% for item in items %}
      {% if news %}
        <article class="c-news-block {% if loop.first %} first {% endif %} {% if loop.index is even %} u-even {% else %} u-odd {% endif %}">
          <div class="c-title">{{ item.news_title }}
            <span class="c-news-date">
              <span class="date-display-single">{{ item.news_date }}</span>
            </span>
          </div>
          {% if item.news_image_src %}
            <div class="c-newsroom-image">
              <a href="{{ item.news_url }}"><img src="{{ item.news_image_src }}" width="360" height="200" alt=""></a>
            </div>
          {% elseif item.news_image %}
            <div class="c-newsroom-image">
              <a href="{{ item.news_url }}">{{ item.news_image }}</a>
            </div>
          {% elseif item.video_src %}
            <div class="c-newsroom-image">
              <a href="{{ item.news_url }}"><img src="{{ item.video_src }}"></a>
            </div>
          {% endif %}
          <h3 class="c-newsroom-name">
            <a href="{{ item.news_url }}">{{ item.news_name }}</a>
          </h3>
          {% if item.news_topic %}
            <div class="c-newsroom-link">
              <a class="c-press-release--topic" href="{{ item.news_topic.url }}">{{ item.news_topic.text }}</a>
            </div>
          {% endif %}

          {% if item.news_topics|length %}
            <div class="c-newsroom-link">
              {% for topic in item.news_topics %}
                <a class="c-press-release--topic" href="{{ topic.url }}">{{ topic.text }}</a>
                {{ loop.first and item.news_topics <= 1 or loop.last ? '' : ', ' }}
              {% endfor %}
            </div>
          {% endif %}
          {% if item.news_senator_count is not empty %}
            <div class="c-senator-card">
              <h4 class="nys-senator--involved">{{ item.news_senator_count|default(0) }}
                Senator{{ item.news_senator_count|default(0) > 1 ? 's' : '' }}
                Involved</h4>
            </div>
          {% endif %}

        </article>
      {% elseif events %}
        <article class="c-event-block c-event-block--upcoming {% if loop.first %} first {% endif %} {% if loop.index is even %} u-even {% else %} u-odd {% endif %}">
          <article class="c-event-block c-event-block--list">
            <div class="c-event-date">
              <span>{{ item.event_date }}</span>
              {{ item.event_month }}
            </div>
            <div class="event-details">
              <a href="{{ item.event_url }}">
                <h3 class="c-event-name">{{ item.event_name }}</h3>
              </a>

              <a class="c-event-location" href="{{ item.event_location_url }}" target="_blank">
                <span class="icon-before__circle-pin"></span>
                {{ item.event_location_name }}
              </a>

              {% if item.event_address %}
                <div class="c-event-address">
                  {{ item.event_address|raw }}
                </div>
              {% endif %}

              <div class="c-event-time">
                <span class="date-display-single">
                  <span class="date-display-range">
                    <span class="date-display-start">{{ item.event_time_start }}</span>
                    to
                    <span class="date-display-end">{{ item.event_time_end }}</span>
                  </span>
                </span>
              </div>
            </div>
          </article>
        </article>
      {% else %}
        <div class="{% if loop.first %} first {% endif %} {% if loop.index is even %} u-even even {% else %} u-odd odd {% endif %}">
          <article class="c-block c-list-item c-legislation-block">
            <div class="c-bill-meta">
              <h3 class="c-bill-num">
                <a href="{{ item.bill_url }}">{{ item.bill_number }}</a>
              </h3>
              <p class="c-bill-topic">{{ item.bill_topic }}</p>
            </div>
            <div class="c-bill-body">
              <h4 class="c-bill-descript">{{ item.bill_description }}</h4>
              <ul class="nys-bill-status nys-bill-status__sml">
                <hr>
                {% for position in item.bill_positions %}
                  {% if position.is_grouped %}
                    <li class="nys-bill-status--assem-sen">
                      <ul class="nys-bill-status">
                        {% for item in position.items %}
                          <li {% if item.is_passed %} class="passed" {% endif %} title="{{ item.text }}">
                            <span class="nys-bill-status--text">{{ item.text }}</span>
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% else %}
                    <li {% if position.is_passed == true %} class="passed" {% endif %} title="{{ position.text }}">
                      <span class="nys-bill-status--text">{{ position.text }}</span>
                    </li>
                  {% endif %}
                {% endfor %}
                <li class="spacer"></li>
              </ul>
              <div class="c-bill-update">
                <p class="c-bill-update--date">
                  <span class="date-display-single">{{ item.bill_date }}</span>
                </p>
                <p class="c-bill-update--location">{{ item.bill_status }}</p>
              </div>
            </div>
          </article>
        </div>
      {% endif %}
    {% endfor %}

  </div>
</div>
