<div class="c-senator-dashboard-questionnaire-teaser">
  <h2>{{ title }}</h2>
  {{ constituents_response_count }}
  {{ webform_submissions_download }}
  {{ byline }}
  {{ status }}
  {{ date }}
  {{ expiration_date }}
</div>
