{{ attach_library('nysenate_theme/nysenate-promotional-banner') }}

<article class="c-block c-block--initiative
    {% if is_landing %} c-block--initiative__landing{% endif %}
    {% if image %} c-block--initiative__has-img {% else %} c-block--initiative__no-img{% endif %}">
  {% if image %}
    <a href="{{ cta.url }}" aria-hidden=true tabindex=-1 class="c-initiative--img">{{ image }}</a>
  {% endif %}
  <div class="c-initiative--content">
    <div class="c-initiative--inner">
      {% if cta.value == 'petition' %}
        {% if senator_name %}
          <h4 class="senator-name">
            {{ senator_name }}'s petition
          </h4>
        {% endif %}
      {% endif %}
      <h2 class="c-initiative--title">
        <a href="{{ cta.url }}">{{ title }}</a>
      </h2>
    </div>
  </div>
  <a aria-hidden=true tabindex=-1 href="{{ cta.url }}" aria-labelledby="{{ title|render|striptags|trim }}" class="c-block--btn promotional-banner__button icon-before__awards icon-before__{{cta.value}} med-bg"
  >{{ cta.text }}</a>
</article>
