{{ attach_library('nysenate_theme/featured-story') }}

<div class="c-block c-event-featured-story">
  <div class="c-container--header__top-border">
    <h2 class="c-container--title">
      Featured Story
    </h2>
  </div>
  <div class="story-container c-container--story-hidden-link">
    <div class="l-left">
        {{ image }}
    </div>
    <div class="l-right">
        <div class="c-story--date med-text">
          {{ date }}
        </div>
      <h3 class="c-story-name">
        <a class="js-link" href="{{ title.url }}">{{ title.text }}</a>
      </h3>
 {% if tags %}
      <div class="c-featured-story-issue-tag">
        <ul>
        {% for tag in tags %}
          <li><a class="c-story-link" href="{{ tag.url }}">{{ tag.text }}</a></li>{% if not loop.last %}, {% endif %}
        {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</div>
