{{ attach_library('nysenate_theme/featured-story') }}

<div class="c-block c-event-featured-story">
  <div class="c-container--header__top-border">
    <h3 class="c-container--title">
      Featured Story
    </h3>
  </div>

  <div class="story-container">
    <div class="l-left">
      <a href="{{ title.url }}">
        {{ image }}
      </a>
    </div>
    <div class="l-right">
        <div class="c-story--date">
          {{ date }}
        </div>
      <h3 class="c-story-name">
        <a href="{{ title.url }}">{{ title.text }}</a>
      </h3>
      {% if tags %}
      <div class="c-featured-story-issue-tag">
        {% for tag in tags %}
          <a class="c-story-link" href="{{ tag.url }}">{{ tag.text }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
