{{ attach_library('nysenate_theme/session') }}
{{ attach_library('nysenate_theme/nysenate-issues') }}
{{ attach_library('nysenate_theme/meeting-detail') }}

{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'c-block',
  'c-meeting-detail--header'
]
%}

{% if video_status.key == 'streaming_live_now' %}
  <div class="c-meeting-detail--descript">
    {{ content.field_ustream }}
  </div>
{% elseif video_status.key == 'streaming_redirect' and content.field_video_redirect[0] %}
  <div class="c-meeting-detail--descript">
    {{ content.field_video_redirect  }}
  </div>
{% endif %}

<article{{ attributes.addClass(classes) }}>
  <div class="c-meeting-detail--meta">
    {% if video_status.key == "streaming_live_now" or video_status.key == "streaming_redirect" %}
      <p class="c-meeting-detail--live-flag">
        Streaming Live Now
      </p>
    {% endif %}

    {% if field_off_the_floor.key == '1' %}
      <p class="c-meeting-detail--live-flag">
        {{ field_off_the_floor.value }}
      </p>
    {% endif %}
  </div>

  <div class="c-meeting-detail--overview">
    <div class="c-meeting-detail--info-container">
      <p class="c-meeting-detail--date">
        {% if date_value %}
          <span class="c-meeting-date--num">{{ date_value.day }}</span>
          <span class="c-meeting-date--month">{{ date_value.month }}</span>
          <span class="c-meeting-date--year">{{ date_value.year }}</span>
        {% endif %}
      </p>

      <div class="c-meeting-detail--info">
        <h1 class="c-meeting-detail--title">
          {{ title }}
        </h1>
        {% if location_url %}
          <a class="c-meeting-detail--location-link"
            href="http://maps.google.com/?q={{ location_url }}"
            title="{{ content.field_location[0].organization['#value'] }}"
            target="_blank">
            {{ content.field_location[0].organization['#value']|raw }}
          </a>
        {% endif %}
        <p class="c-meeting-detail--location">
          {% if content.field_meeting_location[0] %}
            {{ content.field_meeting_location[0]|raw }}
          {% endif %}
          {% if location %}
            {{ location|raw }}
          {% endif %}
        </p>
        <p class="c-meeting-detail--time">
          {{ date_value.from_time }}
          {% if date_value.from_time != date_value.to_time %}
            to
            {{ date_value.to_time }}
          {% endif %}
          {% if video_status.key == 'streaming_redirect' and video_status.value %}
          <span class="c-meeting-video--status icon-before__youtube">
              Streaming Live Now
            </span>
          {% elseif video_status.value %}
            <span class="c-meeting-video--status icon-before__youtube">
              {{ video_status.value }}
            </span>
          {% endif %}
        </p>

        {% if calendar_links %}
          {% include '@nysenate_theme/add-to-calendar/add-to-calendar.twig' with {
            calendar_links: calendar_links
          } only %}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="c-meeting-detail--descript">
    {{ content.body }}
  </div>

  {% if content.field_chapters %}
    <div class="c-meeting-detail--descript">
      {{ content.field_chapters }}
    </div>
  {% endif %}

  {% if field_issues or field_majority_issue_tag %}
    <ul class="nys-associated-topics">
      <div class="nys-associated-topics--label">related issues:</div>
      {% if field_majority_issue_tag %}
        <li>{{ field_majority_issue_tag  }}</li>
      {% endif %}
      {% for issue in field_issues %}
        <li>{{ issue }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if content.field_issues[0] or content.field_majority_issue_tag[0] %}
    <div class="c-meeting-detail--related">
      <ul class="nys-associated-topics issues">
        {% if content.field_issues[0] %}
        <div class="nys-associated-topics--label">related issues:</div>
          {% for key, issue in content.field_issues|filter((value, key) => key matches '/^\\d+$/') %}
            <li>{{ issue }}</li>
          {% endfor %}
        {% endif %}
        {% if content.field_majority_issue_tag[0] %}
          <li>{{ content.field_majority_issue_tag }}</li>
        {% endif %}
      </ul>
    </div>
  {% endif %}


  {% if content.field_committee[0] %}
  <div class="c-meeting-detail--related">
    <ul class="nys-associated-topics committee">
      <div class="nys-associated-topics--label">committees:</div>
      <li>{{ content.field_committee }}</li>
    </ul>
  </div>
  {% endif %}

  {% if content.field_yt[0] %}
    <div class="c-meeting-detail--descript">
      {{ content.field_yt }}
    </div>
  {% endif %}
</article>

{% if content.field_transcript.0 %}
  <div class="c-container--header__top-border transcript">
    <h3 class="c-container--title">transcript</h3>
    <p>There is a full transcript of this meeting available.</p>
    <a href="{{ path('entity.node.canonical', {'node':  node.field_transcript.entity.id}) }}" class="c-container--link">Read Full Transcript</a>
  </div>
{% endif %}

{% if content.field_attachment[0] %}
  {% include "@nysenate_theme/file-uploads/file-uploads.twig" with {
    title: title,
    attachment: content.field_attachment,
  } only %}
{% endif %}

{% include '@nysenate_theme/nysenate-social-buttons/nysenate-social-buttons.twig' with {
  title: node.type.entity.label,
  node_url: absolute_url,
  cta: cta
} only %}


{{ drupal_view('committee_meetings', 'past') }}

{{ drupal_view('committee_meetings', 'news') }}

{{ drupal_view('global_promo_banner', 'global_promo_banner') }}

{{ how_a_bill_block }}
