{{ attach_library('nysenate_theme/article-page') }}

{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

<article{{attributes.addClass(classes)}}>
  {{ title_prefix }}
  {% if page %}
    <header class="c-questionnaire--head">
      <h1 class="nys-article-title">
        {{ title }}
      </h1>
      <div class="c-news--head-meta">
        <p class="c-news--pub-date">
          {{ content.field_date.0 }}
        </p>
        {% if content.field_issues.0 %}
          <ul class="nys-associated-topics">
            {% for key,issue in content.field_issues|filter((value, key) => key matches '/^\\d+$/') %}
              <li>{{ issue }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </header>
  {% endif %}

  {{ title_suffix }}

  <div class="c-questionnaire--body">
    {% if content.field_image_main.0 %}
      <div class="c-block c-block--img">
        {{ content.field_image_main.0 }}

        {% if content.field_image_main_title.0 %}
          <p class="c-img--caption">{{ content.field_image_main_title.0 }}</p>
        {% endif %}
      </div>
    {% endif %}

    {% if content.field_byline.0 %}
      <div class="c-news--subtitle">
        {{ content.field_byline.0 }}
      </div>
    {% endif %}

    {% if content.body %}
      <div class="c-block">
        {{ content.body }}
      </div>
    {% endif %}

    {% if content.webform %}
      <section class="c-block">
        {{ content.webform }}
      </section>
    {% endif %}

    {% include '@nysenate_theme/nysenate-social-buttons/nysenate-social-buttons.twig' with {
      title: node.type.entity.label,
      node_url: absolute_url,
      cta: cta,
    } only %}

    {% if content.field_senator_multiref['#items'] %}
      {{ drupal_view('senator_microsite_content', 'promo_footer') }}
    {% endif %}
  </div>

</article>
