{{ attach_library('nysenate_theme/session') }}
{{ attach_library('nysenate_theme/meeting-detail') }}
{{ attach_library('nysenate_theme/nysenate-tabs') }}
{{ attach_library('nysenate_theme/nysenate_sponsor_list') }}
{{ attach_library('nysenate_theme/video-embed') }}

<article class="c-block c-meeting-detail--header">
  <div class="c-meeting-detail--meta">
    {% if event_status.key == 'live_now' %}
      <p class="c-meeting-detail--live-flag">
        {{ event_status.value }}
      </p>
    {% endif %}
    {% if content.field_off_the_floor.0['#markup'] == '1' %}
      <p class="c-meeting-detail--floor-flag">
        off the floor
      </p>
    {% endif %}
  </div>

  <div class="c-meeting-detail--overview">
    <div class="c-block">
      <div class="c-meeting-detail--info-container">
        <p class="c-meeting-detail--date">
          <span class="c-meeting-date--num">{{ date_value.day }}</span>
          <span class="c-meeting-date--month">{{ date_value.month }}</span>
          <span class="c-meeting-date--year">{{ date_value.year }}</span>
        </p>

        <div class="c-meeting-detail--info">
          <h1 class="c-meeting-detail--title">
            {{ title }}
          </h1>
          {% if event_place == 'online' %}
            {% if event_online_link %}
              <div>
                <a class="c-meeting-detail--location-link" href="{{ event_online_link }}">
                  Online Meeting
                </a>
              </div>
            {% elseif content.field_meeting_location.0 %}
              <div class="c-meeting-detail--location-link">
                Online Meeting
              </div>
            {% endif %}
          {% elseif event_place == 'cap' %}
            <a class="c-meeting-detail--location-link" href="https://www.google.com/maps/place/New+York+State+Capitol/@42.652602,-73.757388,17z/data=!3m1!4b1!4m2!3m1!1s0x89de0a3aa5dc0b2b:0x72aed557f8df2510" title="NYS Capitol Building" target="_blank">
              NYS Capitol Building
            </a>
          {% elseif event_place == 'lob' %}
            <a class="c-meeting-detail--location-link" href="https://www.google.com/maps/place/Legislative+Office+Building/@42.6526202,-73.7614498,17z/data=!3m1!4b1!4m5!3m4!1s0x89de0a24d3a304b5:0x1012cb31c839dfe9!8m2!3d42.6526202!4d-73.7592611?hl=en" title="Legislative Office Building" target="_blank">
              Legislative Office Building
            </a>
          {% endif %}

          <p class="c-meeting-detail--location">
            {% if content.field_meeting_location.0 %}
              {{ content.field_meeting_location.0 }}
            {% endif %}
          </p>

          <p class="c-meeting-detail--time">
            {{ date_value.from_time }}
            {% if date_value.from_time != date_value.to_time %}
              to
              {{ date_value.to_time }}
            {% endif %}
            {% if video_status.key == 'streaming_redirect' and video_status.value %}
              <span class="c-meeting-video--status icon-before__youtube">
              Streaming Live Now
            </span>
            {% elseif video_status.value %}
              <span class="c-meeting-video--status icon-before__youtube">
              {{ video_status.value }}
            </span>
            {% endif %}
          </p>
          {% if calendar_links %}
            {% include '@nysenate_theme/add-to-calendar/add-to-calendar.twig' with {
            calendar_links: calendar_links
          } only %}
          {% endif %}
        </div>
      </div>

      {% if content.body[0] %}
      <div class="c-meeting-detail--descript">
          {{ content.body }}
      </div>
      {% endif %}

      {% if field_chapters %}
        <div class="c-meeting-detail--descript">
          {{ field_chapters }}
        </div>
      {% endif %}

      {% if content.field_issues.0 or content.field_committee %}
        <div class="c-meeting-detail--related">
          {% if content.field_issues.0 %}
          <ul class="nys-associated-topics issues">
            <p>
              related issues:
            </p>
            {% if field_majority_issue_tag %}
              <li>{{ field_majority_issue_tag }}</li>
            {% endif %}
            {% for key,issue in content.field_issues|filter((value, key) => key matches '/^\\d+$/') %}
              <li>{{ issue }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% if content.field_committee %}
          <ul class="nys-associated-topics">
            <p>
              committees:
            </p>
              <li>{{ content.field_committee }}</li>
          </ul>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>

  {% if video_status.key == 'streaming_live_now' %}
    <div class="c-meeting-detail--descript">
      {{ content.field_ustream }}
    </div>
  {% elseif video_status.key == 'streaming_redirect' and content.field_video_redirect.0 %}
    <div class="c-meeting-detail--descript">
      {{ content.field_video_redirect }}
    </div>
  {% endif %}

  {% if content.field_yt.0 %}
    <div class="c-meeting-detail--descript">
      {{ content.field_yt }}
    </div>
  {% endif %}

  {% if content.field_yt.0 %}
    {% for key, item in content.field_yt %}
      {% if key|first != '#' %}
        <div class="flex-video widescreen item-{{ key + 1 }}">{{ item }}</div>
      {% endif %}
    {% endfor %}
  {% endif %}


  {% for key, item in content.field_meeting_agenda %}
    {% if key|first != '#' %}
      {% if item['#options']['entity'].field_ol_agenda_notes.0.value|trim %}
        <pre class="c-meeting--agenda-notes">
          {{ item['#options']['entity'].field_ol_agenda_notes.0.value }}
      </pre>
      {% endif %}
    {% endif %}
  {% endfor %}

</article>

{{ meeting_agenda }}

{% include '@nysenate_theme/nysenate-social-buttons/nysenate-social-buttons.twig' with {
  title: node.type.entity.label,
  node_url: absolute_url,
  cta: cta,
} only
%}

{{ committee_events }}

{{ drupal_view('committee_meetings', 'news') }}

{{ drupal_view('senator_microsite_content', 'promo_footer') }}

{{ bill }}
