{{ attach_library('nysenate_theme/bill') }}
{{ attach_library('nysenate_theme/nysenate-accordion') }}
{{ attach_library('nysenate_theme/nysenate-accordion-nested') }}
{{ attach_library('nysenate_theme/nysenate-tabs') }}
{{ attach_library('nysenate_theme/resolution-page') }}
{% import '@rain_theme/icons/_icons-macro.twig' as icons %}

{%
  set classes = [
    'node',
    'node-resolution',
    'node-promoted',
    'view-mode-full',
    'clearfix',
  ]
%}

<!-- RESOLUTION TEMPLATE -->
  <div {{ attributes.addClass(classes) }}> <div class="c-block c-detail--header c-detail--header__bill">
    <h2 class="nys-title">{{ label }}</h2>
    <div class="c-bill--flags">
      {% if last_status %}
        <span class="c-bill--flag">{{ last_status }}</span>
      {% endif %}
    </div>
  </div>

  <div class="c-detail--header-meta">
    <p class="c-detail--descript">
      {{ ol_name }}
    </p>
    <div class="c-detail--related">
      {{ content.field_issues }}
    </div>
    <a href="#" class="c-detail--download" target="_blank">download pdf</a>
  </div>

  <div class="c-detail--social">
    <h3 class="c-detail--subhead">share this resolution</h3>
    <ul>
      <li><a target="_blank" href="https://www.facebook.com" class="c-detail--social-item facebook">facebook</a></li>
      <li><a target="_blank" href="https://twitter.com" class="c-detail--social-item twitter">twitter</a></li>
      <li><a href="mailto:?&subject=From NYSenate.gov:" class="c-detail--social-item email">email</a></li>
    </ul>
  </div>

  <div class="c-block">
    {% if content.field_image_main is not empty %}
      <div class="c-block c-block--img">
        {{ content.field_image_main }}
      </div>
    {% endif %}
  </div>

  <div class="c-block c-detail--sponsors">
    {% if sponsored_by %}
      {{ sponsored_by }}
    {% endif %}

    <!-- Bill Co/Multi Sponsors -->
    <div class="c-block c-detail--sponsors c-bill-section">
      {% if sponsors_array.co|length > 0 or sponsors_array.multi|length > 0 %}
        {% for key,list in sponsors_array if list|length > 0 %}
          <div class="c-{{ key }}-sponsors c-sponsors-detail">
            <h3 class="c-detail--subhead c-detail--section-title c-bill-detail--subhead">{{ key }}-Sponsors</h3>
            <div class="initial_{{ key }}-sponsors">
              {% for item in list[0:4] %}
                {{ item }}
              {% endfor %}
            </div>
            {% if list[4:]|length > 1 %}
              <div class="other_{{ key }}-sponsors">
                <article class="nysenate-accordion">
                  <button type="button" class="nysenate-accordion__toggle" aria-controls="nysenate-accordion__content-1-sponsors" aria-expanded="false" id="nysenate-accordion__toggle-1-sponsors" aria-selected="false">
                    <span class="nysenate-accordion__heading hide-number">
                      <span class="indicator">View
                      </span>additional
                      {{ key }}-sponsors
                    </span>
                    {{ icons.get('accordion__arrow'|lower) }}
                  </button>
                  <div class="nysenate-accordion__content" id="nysenate-accordion__content-1-sponsors" aria-hidden="true" aria-labelledby="nysenate-accordion__content-1-sponsors">
                    {% for item in list[4:] %}
                      {{ item }}
                    {% endfor %}
                  </div>
                </article>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <!-- .c-block -->

  {% if featured_quote %}
    <div class="c-block c-sponsor-quote">
      <h3 class="c-sponsor-quote--title">sponsor's position</h3>
      <p class="c-sponsor-quote--text">{{ featured_quote }}</p>
      <div class="c-sponsor">
        {{ content.field_ol_sponsor }}
      </div>
      <button class="js-quote-toggle c-block--btn c-block--btn-toggle">close</button>
      <div class="c-social">
        <ul class="c-social--list">
          <li>
            <a target="_blank" href="https://www.facebook.com/" class="icon-replace__facebook">facebook</a>
          </li>
          <li>
            <a target="_blank" href="http://twitter.com/" class="icon-replace__twitter">twitter</a>
          </li>
        </ul>
      </div>
    </div>
  <!-- sponsor quote -->
  {% endif %}

  <!-- resolution details -->
  <div class="c-block c-detail--writeup-wrapper">
    <h3 class="c-detail--subhead">text</h3>
    <div class="c-detail--writeup">
      <h3 class="">{{ label }}</h3>
      {{ content.field_ol_full_text }}
    </div>
  </div>


  {% if statuses %}
    <div class="c-block c-detail--actions">
      <div class="c-detail--section-title">
        <h3 class="c-detail--subhead">actions</h3>
      </div>
      <ul class="c-action--items">
        {% for status in statuses %}
          <li>
            <span class="c-action--date">Status Date</span>
            <ul>
              <li class="c-action--item">Status Text</li>
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
    <!-- actions -->
  {% endif %}

  {% if same_as %}
    <div class="c-block c-bill--details">
      <h3 class="c-detail--subhead c-detail--section-title">Resolution Details</h3>
      <dl>
        {% if same_as %}
          <dt>See Assembly Version of this Bill:</dt>
          {% for key, item in same_as %}
            <dd>
              <a href="/legislation/resolutions/">{{ same_as[key].printNo }}
                {% if not loop.first %},
                {% endif %}
              </a>
            </dd>
          {% endfor %}
        {% endif %}

        {% if amended_versions %}
          <dt>Versions:</dt>
          {{ amended_versions}}
        {% endif %}
        {% if ol_law_section %}
          <dt>Law Section:</dt>
          <dd>
            {{ ol_law_section }}
          </dd>
        {% endif %}
      </dl>
    </div>
  {% endif %}

  {% if result %}
    <div class="c-block c-container">
      <div class="c-container--header">
        <h2 class="c-container--title">Find and Follow Issues</h2>
        <a href="/explore-issues" class="c-container--link">Explore Issues</a>
      </div>
      <div class="c-block">
        {{ result }}
      </div>
    </div>
  {% endif %}

  <!-- Comments -->
  <div class="content c-bill-section" id="panel-comments">
    <div class="c-block c-detail--summary">
      <h3 class="c-detail--subhead c-detail--section-title c-bill-detail--subhead">Comments</h3>
      <p>Open Legislation is a forum for New York State legislation. All comments are subject to review and community moderation is encouraged.</p>
      <p>
        Comments deemed off-topic, commercial, campaign-related, self-promotional; or that contain profanity, hate or toxic speech; or that link to sites outside of the nysenate.gov domain are not permitted, and will not be published. Attempts to intimidate and silence contributors or deliberately deceive the public, including excessive or extraneous posting/posts, or coordinated activity, are prohibited and may result in the temporary or permanent banning of the user. Comment moderation is generally performed Monday through Friday. By contributing or voting you agree to the Terms of Participation and verify you are over 13.
      </p>
      {% if content.field_comments %}
        {{ content.field_comments }}
      {% endif %}
      {% if not logged_in %}
      <p><a href="/user/register">Create an account</a>. An <a href="/citizen-guide ">account</a> allows you to sign petitions with a single click, officially support or oppose key legislation, and follow issues, committees, and bills that matter to you. When you create an account, you agree to this platform's <a href="/policies-and-waivers">terms of participation</a>.</p>
      {% endif %}
    </div>
  </div>
