{{ attach_library('nysenate_theme/bill') }}
{{ attach_library('nysenate_theme/nysenate-accordion') }}
{{ attach_library('nysenate_theme/nysenate-accordion-nested') }}
{{ attach_library('nysenate_theme/nysenate-tabs') }}
{{ attach_library('nysenate_theme/resolution-page') }}

{% import '@rain_theme/icons/_icons-macro.twig' as icons %}
{% set bill_title = content.field_ol_base_print_no[0]['#context']['value'] %}

{% set classes = ['node--bill'] %}
<!-- BILL TEMPLATE -->
<div class="{{ classes|join(' ') }}" {{ attributes }}>

  <!-- Bill Vote Widget -->
  <div class="c-bill--vote-widget">
    {{ content.vote_widget }}
  </div>

  <div class="node node-bill node-promoted view-mode-full clearfix">
    <div class="c-block c-detail--header c-detail--header__bill">
      <!-- Bill Title -->
      <div class="c-bill--heading-block">
        <h1 class="nys-title c-bill-title">
          {{ content.field_ol_chamber[0]['#markup'] }}
          Bill
          {{ bill.name }}
        </h1>
        {{ signed_veto_status|raw }}
        <div class="clearfix"></div>
        <div class="c-bill--session-year">
          {{ legislative_session|raw }}
        </div>
      </div>

      <div class="c-detail--header-meta" style="margin-bottom: 20px">
        <p class="c-detail--descript">
          {{ content.field_ol_name[0]['#context']['value'] }}
          {% if issues %}
            <div class="c-meeting-detail--related">
              <ul class="c-meeting-detail--related">
                {% if majority_issue %}
                  <li>{{ majority_issue }}</li>
                {% endif %}
                {% if issues %}
                  {% for issue in issues %}
                    <li>{{ issue }}</li>
                  {% endfor %}
                {% endif %}
              </ul>
            </div>
          {% endif %}
        </p>
        <!-- Bill Pdf Link -->
        <a href="{{ pdf_link }}" class="c-detail--download" target="_blank">
          download bill text pdf
        </a>
      </div>
      <!-- Share -->
      <div class="c-detail--social" style="margin-bottom: 0; padding-bottom: 0">
        <h3 class="c-detail--subhead">
          Share this bill
        </h3>
        <ul>
          <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{active_amend_url}}" class="c-detail--social-item bill">{{ icons.get('facebook') }}</a></li>
          <li><a target="_blank" class="c-detail--social-item bill" href="https://twitter.com/intent/tweet?text={{ bill_title }} Via: @nysenate: {{ active_amend_url }}">{{ icons.get('twitter') }}</a></li>
          <li class="email"><a href="mailto:?&subject=From NYSenate.gov: {{ bill_title }}&body=Check out this bill: {{ bill_title  }}: < {{active_amend_url}} >." class="c-detail--social-item bill">{{ icons.get('envelope') }}</a></li>
        </ul>
      </div>

    </div>
  </div>

  {{ sponsored_by }}

  <!-- Looker Embed -->

  {% if looker_preview_iframe %}
    <div class="c-block c-detail--status c-bill-section">
      <h3 class="c-detail--subhead c-detail--section-title c-bill-detail--subhead">
        Senate District
        {{ lc_district }}
        Bill Analytics (Beta - Internal use only)
      </h3>
      {{ looker_preview_iframe }}
    </div>

    <div class="more_constituent_analytics">
      <article class="nysenate-accordion">
        <button type="button" class="nysenate-accordion__toggle" aria-controls="nysenate-accordion__content-1-analytics" aria-expanded="false" id="nysenate-accordion__toggle-1-analytics" aria-selected="false">
          <span class="nysenate-accordion__heading">
            <span class="indicator">View
            </span>
            more constituent analytics
          </span>
          {{ icons.get('accordion__arrow'|lower) }}
        </button>
        <div class="nysenate-accordion__content" id="nysenate-accordion__content-1-analytics" aria-hidden="true" aria-labelledby="nysenate-accordion__content-1-analytics">
          {{ looker_extended_iframe }}
        </div>
      </article>
    </div>
  {% endif %}

  <!-- Bill Status -->


  <div class="c-block c-detail--status c-bill-section">
    <h3 class="c-detail--subhead c-detail--section-title c-bill-detail--subhead">
      {% if current_session_year == content.field_ol_session[0]['#markup'] %}
        Current
      {% else %}
        Archive: Last
      {% endif %}
      Bill Status
      {% if is_substituted %}
        Via
        {{ sub_bill_base_print_no }}
      {% endif %}
      -
      <span>
        {{ status_display }}
        {% if status_display == 'In Senate Committee' and committee %}
          <a class="committee-link" href="{{ committee_link }}">
            {{ committee }}
            Committee
          </a>
        {% endif %}
      </span>
    </h3>

    <!-- Bill Graph Output -->
    {% include '@nysenate_theme/src/templates/includes/nys-bill-status.html.twig' with {positions: positions} %}
  </div>

  <!-- Bill Message Form -->
  <div class="c-bill--message-form clearfix">
    {{ content.bill_form }}
  </div>

  <!-- Bill Actions -->
  <div class="c-block c-bill-section">
    <section class="nysenate-accordion__wrapper nysenate-accordion__wrapper--bills">
      <h2 class="nysenate-accordion__wrapper-title">Actions</h2>

      <div>
        {% block accordion_items %}
          <article class="nysenate-accordion">
            <button type="button" class="nysenate-accordion__toggle" aria-controls="nysenate-accordion--bills__content-1" aria-expanded="false" id="nysenate-accordion--bills__toggle-1" aria-selected="false">
              <span class="nysenate-accordion__heading">
                <span class="indicator">View
                </span>Actions
              </span>
              {{ icons.get('accordion__arrow'|lower) }}
            </button>

            <div class="nysenate-accordion__content" id="nysenate-accordion--bills__content-1" aria-hidden="true" aria-labelledby="nysenate-accordion--bills__content-1">
              {% block accordion_content %}
                <div>
                  <table width="100%" class="table c-bill--actions-table">
                    <thead>
                      <tr>
                        <th></th>
                        <th class="c-bill--actions-table-header">
                          Assembly Actions -
                          <strong>Lowercase</strong><br/>
                          Senate Actions -
                          <strong>UPPERCASE</strong>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for versions, base_print_no in grouped_actions %}
                        {% for dates, version in base_print_no %}
                          {% for key,items in version %}
                            <tr class="c-bill--actions-table--row">
                              <td class="c-bill--actions-table-col1">{{ key|date('M d, Y') }}</td>
                              <td class="c-bill--actions-table-col2">
                                {% for item in items %}
                                  {% set text_class = 'c-bill--action-line-' ~ item.chamber|lower %}
                                  {% if 'substituted by' in item.text|lower %}
                                    {% set text_class = text_class ~ ' substituted' %}
                                  {% endif %}
                                  {% if 'amended' in item.text|lower or 'print number' in item.text|lower %}
                                    {% set text_class = text_class ~ ' amended' %}
                                  {% endif %}
                                  {% if 'stricken' in item.text|lower %}
                                    {% set text_class = text_class ~ ' stricken' %}
                                  {% endif %}
                                  <span class="{{ text_class }}">{{ item.text|lower }}</span><br>
                                {% endfor %}
                              </td>
                            </tr>
                          {% endfor %}
                        {% endfor %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% endblock %}
            </div>
          </article>
        {% endblock %}
      </div>
    </section>
  </div>

  {% if votes_block %}
    <div class="c-block c-bill-section">
      <section class="nysenate-accordion__wrapper nysenate-accordion__wrapper--bills">
        <h2 class="nysenate-accordion__wrapper-title">Votes</h2>

        <div>
          <ul class="nysenate-accordion-nested">
            <li class="nysenate-accordion-nested__item">
              <button type="button" class="nysenate-accordion-nested__toggle" aria-controls="nysenate-accordion--votes__content-1" aria-expanded="false" id="nysenate-accordion--votes__toggle-1" aria-selected="false">
                <span class="nysenate-accordion-nested__heading hide-number">
                  <span class="indicator">View
                  </span>Votes
                </span>
                {{ icons.get('accordion__arrow'|lower) }}
              </button>
              <ul class="nysenate-accordion-nested nysenate-accordion-nested--inner" id="nysenate-accordion--votes__content-1" aria-hidden="true" aria-labelledby="nysenate-accordion--votes__content-1">
                <li class="nysenate-accordion-nested__item">
                  {% for vote in votes_block %}
                    <div
                      class="content" id="panel-votes">
                      <!-- Bill Votes -->
                      <div class="c-block c-detail--votes-wrapper c-bill-section">
                        <h3 class="c-detail--subhead c-detail--section-title c-bill-detail--subhead">
                          {{ vote.date }}
                          -
                          {{ vote.type }}
                          Vote
                        </h3>
                        <a href="{{ vote.bill_url }}">
                          <span class="c-bill-action-version c-bill--flag c-bill-action--orig-bill">
                            {{ vote.bill_name }}
                          </span>
                        </a>

                        {% set values = [vote.nay_count|default(0), vote.aye_count|default(0)] %}
                        {% set colors =  vote.type|lower != 'floor' ? ["#CB8D37", "#F1AF58"] : ["#1F798F", "#04A9C5"] %}

                        {% include "@nysenate_theme/chart/chart.twig" with {
                    chart: {
                      type: "pie",
                      values: values,
                      colors: colors
                    }
                  } only %}

                        <div class="c-bill--vote-details">
                          <div class="c-bill--vote-details-wrapper">
                            <dl class="vote-container">
                              <div class="aye {{ vote.type|lower != 'floor' ? " committee_vote" : " " }}">
                                <dd class="vote-count">{{ vote.aye_count|default(0) }}</dd>
                                <dt class="vote-label">Aye</dt>
                              </div>
                              <div class="nay {{ vote.type|lower != 'floor' ? " committee_vote" : " " }}">
                                <dd class="vote-count">{{ vote.nay_count|default(0)  }}</dd>
                                <dt class="vote-label">Nay</dt>
                              </div>
                            </dl>
                            <dl class="vote-meta">
                              {% if vote.type|lower != 'floor' %}
                                <div class="meta-row">
                                  <dd class="meta-count">{{ vote.aye_reservations_count|default(0)  }}</dd>
                                  <dt class="meta-label">Aye with Reservations</dt>
                                </div>
                              {% endif %}
                              <div class="meta-row">
                                <dd class="meta-count">{{ vote.absent_count|default(0)  }}</dd>
                                <dt class="meta-label">Absent</dt>
                              </div>
                              <div class="meta-row">
                                <dd class="meta-count">{{ vote.excused_count|default(0)  }}</dd>
                                <dt class="meta-label">Excused</dt>
                              </div>
                              <div class="meta-row">
                                <dd class="meta-count">{{ vote.abstained_count|default(0)  }}</dd>
                                <dt class="meta-label">Abstained</dt>
                              </div>
                            </dl>
                          </div>
                        </div>
                      </div>

                      <ul class="nysenate-accordion-nested">
                        <li class="nysenate-accordion-nested__item">
                          <button type="button" class="nysenate-accordion-nested__toggle">
                            <span class="nysenate-accordion-nested__heading">
                              <span class="indicator">View</span>
                              {{ vote.type }}
                              vote details
                            </span>
                            {{ icons.get('accordion__arrow'|lower) }}
                          </button>
                          <ul class="nysenate-accordion-nested nysenate-accordion-nested--inner">
                            <li class="nysenate-accordion-nested__item">
                              <div class="c-vote--container">
                              <h3 class="c-vote-detail--date">
                                {{ vote.type }}
                                Vote:
                                {{ vote.date }}</h3>
                              {% set count = 0 %}
                              {% for key,members in vote.all_members %}
                                {% if members|length %}
                                {% set title = key|split('_members') %}
                                {% set title = title[0]|replace({'_': ' '}) %}
                                {% set count = count + 1 %}
                                <div class="c-detail--vote-grp {{ ((count % 2) ? 'odd' : 'even') }}">
                                  <div class="c-detail--section-title">{{ title }}
                                    ({{ members|length|default(0) }})</div>
                                  <ul class="c-votes--items">
                                    {% for member in members %}
                                      <li{% if member in vote.remote_voting %} class="remote-voting-member"{% endif %}>
                                        <a href="{{ member.url }}">{{ member.name }}</a>
                                      </li>
                                    {% endfor %}
                                  </ul>
                                </div>
                                {% endif %}
                              {% endfor %}
                                {% if vote.remote_voting|length %}
                              <div class="c-votes--remote-voting">
                                The following Member(s) participated via videoconferencing:
                                {% for key,member in vote.remote_voting %}
                                <a class="remote-voting-url" href="{{ member.url }}">{{ member.name }}</a>
                                {% endfor %}
                              </div>
                                {% endif %}
                              </div>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  {% endfor %}
                </li>
              </ul>
            </li>
          </ul>

        </div>
      </section>
    </div>
  {% endif %}

  {{ amendments_block }}

  <div class="content c-bill-section" id="panel-comments">
    <div class="c-block c-detail--summary">
      <h3 class="c-detail--subhead c-detail--section-title c-bill-detail--subhead">Comments</h3>
      <p>Open Legislation is a forum for New York State legislation. All comments are subject to review and community moderation is encouraged.</p>
      <p>
        Comments deemed off-topic, commercial, campaign-related, self-promotional; or that contain profanity, hate or toxic speech; or that link to sites outside of the nysenate.gov domain are not permitted, and will not be published. Attempts to intimidate and silence contributors or deliberately deceive the public, including excessive or extraneous posting/posts, or coordinated activity, are prohibited and may result in the temporary or permanent banning of the user. Comment moderation is generally performed Monday through Friday. By contributing or voting you agree to the Terms of Participation and verify you are over 13.
      </p>
      {% if content.field_comments %}
        {{ content.field_comments }}
      {% endif %}
      {% if not logged_in %}
      <p><a href="/user/register">Create an account</a>. An <a href="/citizen-guide ">account</a> allows you to sign petitions with a single click, officially support or oppose key legislation, and follow issues, committees, and bills that matter to you. When you create an account, you agree to this platform's <a href="/policies-and-waivers">terms of participation</a>.</p>
      {% endif %}
    </div>
  </div>

  <!-- Related Bills Content -->
  {% if view_related_bills %}
    <div class="c-block c-container">
      <div class="c-container--header">
        <h2 class="c-container--title">Related Recent Legislation</h2>
      </div>
      {{ view_related_bills }}
    </div>
  {% endif %}

  <!-- Related Bills Content -->
  {% if view_bill_related_issues %}
    <div class="c-block c-container">
      <div class="c-container--header">
        <h2 class="c-container--title">Related Issues</h2>
        <a href="/explore-issues" class="c-container--link">Explore Issues</a>
      </div>
      <div class="c-block">
        {{ view_bill_related_issues }}
      </div>
    </div>
  {% endif %}

  <!-- Related Content -->
  {% if view_related_content %}
    <div class="c-block c-container">
      <div class="c-container--header">
        <h2 class="c-container--title">Related News</h2>
        <a href="/news-and-issues" class="c-container--link">News and Issues</a>
      </div>
      <div class="c-block c-container">
        {{ view_related_content }}
      </div>
    </div>
  {% endif %}
</div>
