{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    'node',
    'node--event-full',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
{{ attach_library('nysenate_theme/event') }}
{{ attach_library('nysenate_theme/nysenate-senators-events') }}
{{ attach_library('nysenate_theme/featured-story') }}
{% import '@rain_theme/icons/_icons-macro.twig' as icons %}

<article{{ attributes.addClass(classes) }}>

  <h1 class="nys-event-title">{{ label }}</h1>

  <div class="c-meeting-detail--meta">
    {% if content.field_video_status[0]['#markup'] == 'streaming_live_now' or content.field_video_status[0]['#markup'] == 'streaming_redirect' %}
      <p class="c-meeting-detail--live-flag">
        Streaming Live Now
      </p>
    {% endif %}
  </div>

  <div class="c-event-block c-event-block--featured-image">
    {% if content.field_image_main[0] %}
      <div class="c-event-image--main">
        {{ content.field_image_main }}
      </div>
    {% endif %}

    {% include "@nysenate_theme/nysenate-event-date/nysenate-event-date.twig" with {
      is_multiday: is_multiday,
      start_date: start_date,
      end_date: end_date,
    } only %}

    {% if content.field_event_place[0]['#markup'] == "Online" %}
      <div class="c-event-location online">
        <span class="icon-before__circle-pin">Online Event</span>
        {% if content.field_meeting_location[0]['#context']['value'] %}
          <br>{{ content.field_meeting_location[0]['#context']['value'] }}: {{ content.field_event_online_link }}
        {% endif %}
      </div>

    {% elseif content.field_event_place[0]['#markup'] == "Teleconference" %}
      <div class="c-event-location">
        <span class="icon-before__circle-pin">Teleconference Event</span>
        <div class="c-event-location tel">
          <div>
          <strong>TEL:</strong>
            {{ content.field_teleconference_number }}
          </div>
          {% if content.field_teleconference_id_number %}
          <div>
            <strong>ID:</strong>
            {{ content.field_teleconference_id_number }}
          </div>
          {% endif %}
          {% if content.field_meeting_location[0]['#context']['value'] %}
            <br>{{ content.field_meeting_location[0]['#context']['value'] }}
          {% endif %}
        </div>
      </div>
    {% elseif content.field_location[0]['organization']['#value'] %}
      <a href="http://maps.google.com/?q={{ location_url }}" class="c-event-location" target="_blank">
        <span class="icon-before__circle-pin"></span>
        {{ content.field_location[0]['organization']['#value']|raw }}
      </a>
    {% endif %}

    {% if node.field_video_status.0.value %}
    <div class="c-event-video--meta">
      <div class="c-event-video--home">
        {{ icons.get('youtube-2') }}
        <a class="stream-link">
      <span>
        {% if content.field_video_status[0]['#markup'] == 'streaming_redirect' or
          content.field_video_status[0]['#markup'] == 'streaming_live_now' %}
            Streaming Live Now
        {% elseif content.field_video_status[0]['#markup'] == 'will_stream_live' %}
            Will Stream Live
        {% elseif content.field_video_status[0]['#markup'] == 'archived_video' %}
            Archived Video
        {% endif %}
      </span></a>
      </div>
    </div>
    {% endif %}

    {% set event_place = content.field_event_place[0]['#markup'] %}
    {% if event_place == "In Albany" or event_place == "In The District" %}
      {% if content.field_meeting_location[0]['#context']['value'] %}
        <div class="c-event-address">
          {{ content.field_meeting_location[0]['#context']['value'] }}
        </div>
      {% endif %}
    {% endif %}


    {% if content.field_location[0]['address_line1']['#value'] %}
      <p class="c-event-address">
        {{ content.field_location[0]['address_line1']['#value'] }} {{ content.field_location[0]['address_line2']['#value'] }}
        <br/>{{ content.field_location[0]['locality']['#value'] }},
        {{ content.field_location[0]['administrative_area']['#value'] }}
        {{ content.field_location[0]['postal_code']['#value'] }}</p>
    {% endif %}

    <div class="c-event-time">
      {{ content.field_date_range }}
    </div>

    {% if calendar_links %}
      {% include "@nysenate_theme/add-to-calendar/add-to-calendar.twig" with {
        calendar_links: calendar_links
      } only %}
    {% endif %}

  </div>

  {% if field_issues or field_majority_issue_tag %}
    <ul class="nys-associated-topics">
      <div class="nys-associated-topics--label">related issues:</div>
      {% if field_majority_issue_tag %}
        <li>{{ field_majority_issue_tag  }}</li>
      {% endif %}
      {% for issue in field_issues %}
        <li>{{ issue }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if content.field_committee[0] %}
    <ul class="nys-associated-topics committee">
      <div class="nys-associated-topics--label">committees:</div>
      <li>{{ content.field_committee }}</li>
    </ul>
  {% endif %}

  {% if content.field_attachment[0] %}
    {% include "@nysenate_theme/file-uploads/file-uploads.twig" with {
      title: title,
      attachment: content.field_attachment,
    } only %}
  {% endif %}

  {% if content.field_yt[0] %}
    <div class="c-block">
      {% include '@nysenate_theme/video-embed/video-embed.twig' with {
          video: content.field_yt
        } only
      %}
    </div>
  {% endif %}

  {% if content.field_video_status[0]['#markup'] == 'streaming_live_now' %}
    <div class="c-meeting-detail--streaming">
      {{ content.field_ustream }}
    </div>
  {% elseif content.field_video_status[0]['#markup'] == 'streaming_redirect' and content.field_video_redirect[0] %}
    <div class="c-meeting-detail--streaming">
      {{ content.field_video_redirect  }}
    </div>
  {% endif %}


  <div class="c-block">
    {{ content.body }}
  </div>

  {% include '@nysenate_theme/nysenate-social-buttons/nysenate-social-buttons.twig' with {
    title: node.type.entity.label,
    node_url: absolute_url,
    cta: cta,
  } only
  %}

  {{ drupal_view('senator_microsite_content', 'article_footer') }}

  {{ drupal_view('global_promo_banner', 'senator_microsite_interior_footer') }}

  {{ how_a_bill_block }}
</article>

