{{ attach_library('nysenate_theme/petitions') }}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'c-block',
    'c-block--initiative',
    banner_image ? 'c-block--initiative__has-img' : 'c-block--initiative__no-img',
  ]
%}

<article{{attributes.addClass(classes)}}>
  {{ title_prefix }}
  {% if page %}
    <header class="c-petition--head">
      <h1 class="nys-title">{{ title }}</h1>
      {% if field_senator %}
        <p class="c-news--author">
          {{ field_senator }}
        </p>
      {% elseif field_article_author %}
        <p class="c-news--author">
          {{ field_article_author }}
        </p>
      {% endif %}

      {% if content.field_date[0] %}
        <p class="c-news--pub-date">
          <span class="date-display-single">{{ content.field_date[0]['#markup'] }}</span>
        </p>
      {% endif %}

      {% if content.field_issues %}
        <ul class="nys-associated-topics">
          {{ 'ISSUE:'|t }}
          {% for key,issue in content.field_issues if key matches '/^\\d+$/' %}
            <li>{{ issue }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if field_subheading %}
        <div class="nys-subtitle-title">{{ field_subheading }}</div>

      {% endif %}
    </header>
  {% endif %}
  {{ title_suffix }}


  {% if content.field_image_main.0 %}
    <div class="c-block c-block--img">
      {{ content.field_image_main }}
      {% if image_caption %}
        <p class="c-img--caption">{{ image_caption }}
        {% endif %}
      </div>
    {% endif %}

    <section class="c-news--body">


      {% if content.body %}
        <div class="c-block">
          {{ content.body }}
        </div>
      {% endif %}

      {% if logged_in and sign_petition_link is not empty %}
        <div class="c-block">
          <span class="c-btn--cta c-btn--cta__sign">{{ sign_petition_link }}</span>
          <p class="petition-small-text">Click once to sign the petition.</p>
        </div>
      {% else %}
        <div class="c-block">
          {% if petition_form %}
            <div class="petition-form">
              {{ petition_form }}
            </div>
          {% else %}
            <span class="c-btn--cta c-btn--cta__sign">
              <span class="flag-wrapper flag-sign-petition">
                {{ ctools_modal_text_button }}
                {# <?php print ctools_modal_text_button(t('sign this petition'), 'registration/nojs/login', t('sign this petition'), 'ctools-modal-login-modal flag unflag-action flag-link-toggle flag-processed'); ?> #}
              </span>
            </span>
          {% endif %}
          <p class="petition-small-text">{{ petition_login_link }}</p>
        </div>
      {% endif %}
    </section>

    {% include '@nysenate_theme/nysenate-social-buttons/nysenate-social-buttons.twig' with {
      title: node.type.entity.label,
      node_url: url,
      cta: cta,
    } only
    %}

  </article>
