{{ attach_library('nysenate_theme/article-page') }}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{attributes.addClass(classes)}}>
  {{ title_prefix }}
  {% if page %}
    <header class="c-questionnaire--head c-news--head">
      <h1 class="nys-article-title">
        {{ title }}
      </h1>
      <div class="c-news--head-meta">
        {% if field_article_author %}
          <p class="c-news--author">
            {{ field_article_author }}
          </p>
        {% elseif field_senator %}
          <p class="c-news--author">
            {{ field_senator }}
          </p>
        {% endif %}
        <p class="c-news--pub-date">
          {{ field_date }}
        </p>
        {% if field_issues %}
          <ul class="nys-associated-topics">
            {% for issue in field_issues %}
              <li>{{ issue }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </header>
  {% endif %}

  {{ title_suffix }}

  <div class="c-questionnaire--body c-news--body">
    {% if field_image_main %}
      <div class="c-block c-block--img">
        {{ field_image_main }}

        {% if field_image_main_title %}
          <p class="c-img--caption">{{ field_image_main_title }}</p>
        {% endif %}
      </div>
    {% endif %}

    {% if field_byline %}
      <div class="c-news--subtitle">
        {{ field_byline }}
      </div>
    {% endif %}

    <div class="c-block">
      {{ body }}
    </div>

    <section class="c-block">
      {{ webform }}
    </section>

    {% include '@nysenate_theme/nysenate-social-buttons/nysenate-social-buttons.twig' with {
      title: node.type.entity.label,
      node_url: url,
      cta: cta,
    } only %}

  </div>
</article>
