{{ attach_library('nysenate_theme/session') }}

{% if field_live_message_override %}
  <section class="l-messages">
    <div data-alert="" class="alert-box success">
      <div class="alert-box-message">
      <h2 class="element-invisible">Status message</h2>
      {{ field_live_message_override }}<a href="#" class="close">×</a>
      </div>
    </div>
  </section>
{% elseif %}
  <section class="l-messages">
    <div data-alert="" class="alert-box success">
      <div class="alert-box-message">
      <h2 class="element-invisible">Status message</h2>
      {{ field_live_message_status }}
      <a href="#" class="close">×</a>
      </div>
    </div>
  </section>
{% endif %}

<div class="c-block c-meeting-detail--header">
  {% if field_video_status == "cancelled" %}
    <div class="c-meeting-detail--overview">
        <p class="c-meeting-detail--date">
          {% if field_date %}
              <span class="c-meeting-date--num">
        {{ field_date.day }}
      </span>
              <span class="c-meeting-date--month">
        {{ field_date.month }}
      </span>
              <span class="c-meeting-date--year">
        {{field_date.year }}
      </span>
          {% endif %}
        </p>
    </div>
    <div class="c-meeting-detail--info">
        <h1 class="c-meeting-detail--title">Session</h1>
    </div>
      <div class="c-meeting-detail--descript">
          <p>Session will resume at the call of the Temporary President.</p>
      </div>
  {% elseif %}
    <div class="c-meeting-detail--meta">
      {% if field_event_status == "live_now" %}
        <p class="c-meeting-detail--live-flag">
        {{ field_event_status }}
        </p>
      {% endif %}
      {% if field_off_the_floor == "1" %}
      <p class="c-meeting-detail--floor-flag">off the floor</p>
      {% endif %}
    </div>

  <div class="c-meeting-detail--overview">
    <p class="c-meeting-detail--date">
      {% if field_date %}
        <span class="c-meeting-date--num">
          {{ field_date.day }}
        </span>
        <span class="c-meeting-date--month">
          {{ field_date.month }}
        </span>
        <span class="c-meeting-date--year">
          {{ field_date.year }}
        </span>
      {% endif %}
    </p>

    <div class="c-meeting-detail--info">
      <h1 class="c-meeting-detail--title">Session</h1>
      <a class="c-meeting-detail--location-link" href="https://www.google.com/maps/place/New+York+State+Capitol/@42.652602,-73.757388,17z/data=!3m1!4b1!4m2!3m1!1s0x89de0a3aa5dc0b2b:0x72aed557f8df2510" title="NYS Capitol Building" target="_blank" >NYS Capitol Building</a>
      <p class="c-meeting-detail--location">
      {% if field_meeting_location %}
        {{field_meeting_location }}
      {% endif %}
      {% if field_location.name %}
        {{field_location.name}}
      {% endif %}
      {% if field_location.street %}
        {{field_location.street}}
      {% endif %}
      {% if field_location.additional %}
        {{field_location.additional}}
      {% endif %}
      {% if field_location.city %}
        {{field_location.city}}
      {% endif %}
      {% if field_location.postal_code %}
        {{field_location.postal_code}}
      {% endif %}
      {% if field_location.state %}
        {{field_location.state}}
      {% endif %}
      </p>
        <p class="c-meeting-detail--time">
        {{ field_date.start_date }}
          {% if field_date.start_date != field_date.end_date %}
          to {{ field_date.end_date }}
          {% endif %}
          {% if field_video_status == "streaming_redirect" %}
              <span class="c-meeting-video--status icon-before__youtube">{{ field_video_status }}</span>
          {% endif %}
        </p>
        <div title="Add to Calendar" class="addthisevent">
        Add to Calendar
        <span class="start">{{ field_date.start_date }}</span>
        <span class="end">{{ field_date.end_date }}</span>
        <span class="timezone">America/New_York</span>
        <span class="title">{{ title }}</span>
        <span class="location">{{ field_location.name }}</span>
        <span class="date_format">MM/DD/YYYY</span>
        <span class="organizer">NY STATE SENATE</span>
      </div>
    </div>
   {% endif %}

    <div class="c-meeting-detail--descript">
      {{ body }}
    </div>

    {% if field_chapters %}
      <div class="c-meeting-detail--descript">
        {{ field_chapters }}
      </div>
    {% endif %}

    {% if field_issues %}
      <div class="c-meeting-detail--related">
        <p>related issues: </p>
        {{ field_issues }}
      </div>
    {% endif %}

    {% elseif field_video_status == "streaming_live_now" and field_video_redirect %}
      <div class="c-meeting-detail--descript">
        {{ field_ustream }}
      </div>
    {% elseif field_video_status == "streaming_redirect" and field_video_redirect %}
      {{ field_ustream }}
    {% endif %}

    {% if field_yt %}
      <div class="c-meeting-detail--descript">
        {{ field_yt }}
      </div>
    {% endif %}

  </div>
</div>
