{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<article{{ attributes.addClass('profile', 'container') }}>
  <div class="c-user--header">
    {% if image_src %}
	    <img src="{{ image_src }}" width="200" height="125" alt="">
	  {% else %}
      <img src="{{ file_url('/themes/custom/nysenate_theme/src/assets/default-avatar.png') }}" alt="Default avatar"/>
	  {% endif %}
	  <div class="dash-user-info">
      <h2 class="c-container--title">
        {{ name }}
      </h2>
	  </div>
  </div>
  <div class="c-container--body">
    <div class="c-dash-user-addr">
      {{ elements.field_address|render }}
    </div>
    <div class="c-container--email vcard">
      {{ email }}
    </div>
    {% if edit_url %}
      <div class="c-dash-user-action-links">
        <a href="{{ edit_url }}" class="c-dash-edit-profile icon-before__petition">Edit</a>
      </div>
	  {% endif %}
  </div>
</article>
