{{ attach_library('nysenate_theme/committee-listing') }}

<div class="l-row c-listing-block">
  <h3 class="c-listing-block__title">
    {{ title }}
  </h3>
  <ul class="c-listing-block__wrapper">
    {% set old_val = committees[0].role %}

    {% for committee in committees %}
      {% if old_val != committee.role|render %}
        {% set old_val = committee.role|render %}
        {% if not loop.first %}
          <br/>
        {% endif %}
      {% endif %}

      <li class="c-listing-block__item">
        <a class="c-listing-block__item-link" href="{{ committee.link }}">{{ committee.text }}</a>
        <span class="c-listing-block__role">{{ committee.role }}</span>
      </li>
    {% endfor %}
  </ul>
</div>
