{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{{ attach_library('nysenate_theme/session') }}
{{ attach_library('nysenate_theme/nysenate-tabs') }}

<div class="l-row">
  {% for content in committees %}
    <div class="content__item pane-1">
      <div class="c-block">
        <h2 class="c-title">
          <a href="{{ content.url }}">{{ content.title }} Committee</a>
        </h2>
        <h3 class="c-committee-type">{{ content.type }}</h3>
        {% if content.description %}
          <div>{{ content.description|raw }}</div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
