{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{{ attach_library('nysenate_theme/nysenate-student-programs') }}

<div class="pane-content">
  {% for row in news %}
    <div class="content__item {% if loop.first %} first {% endif %} {% if loop.index is odd %} odd {% else %} even {% endif %}">
      {# {{- row.content -}} #}
      <div class="main-image">
        {% if row.image %}
          <a href="{{ row.url }}">
            {{ row.image }}
          </a>
        {% endif %}
      </div>
      <div class="content-type">{{ row.type|striptags }}</div>
      <div class="content-title"><a href="{{ row.url }}">{{ row.title }}</a></div>
      <span class="date-display-single">{{ row.date }}</span>
    </div>
  {% endfor %}
</div>
