{#
/**
 * @file
 * The views infinite scroll pager template.
 */
#}
{{ attach_library('nysenate_theme/pager') }}

{% if items.next %}
<ul{{ attributes }}>
  <li class="pager__item pager-load-more">
    <a href="{{ items.next.href }}" title="{{ 'Load more items'|t }}" rel="next">{{ options.button_text }}</a>
  </li>
</ul>
{% endif %}
