{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
<article class="c-update-block">
	<div class="l-panel-col l-panel-col--lft">
		<h3 class="c-listing--bill-num">{{ fields.title.content }}</h3>
		<a href="#" class="c-committee-link"></a>
		<div class="c-listing--related-issues">{{ fields.field_issues.content }}</div>
	</div>
	<div class="l-panel-col l-panel-col--ctr">
		<h4 class="c-press-release--descript">{{ fields.field_ol_name.content }}</h4>
		{% if fields.field_ol_sponsor.content %}
			{{ fields.field_ol_sponsor.content }}
		{% elseif not fields.field_ol_sponsor.content and fields.field_ol_sponsor_name.content %}
			<br />
			<label>Sponsor: {{ fields.field_ol_sponsor_name.content }}</label>
		{% else %}
			<br />
			<label>{{ fields.field_ol_sponsor_name.content }}</label>
		{% endif %}
	</div>
	<div class="l-right-actions">
		{% if fields.field_ol_cal_no.content and not fields.field_ol_votes.content %}
			<p class="c-calendar--num"><span class="c-calendar--num-mark u-mobile-only">cal no.</span>{{ fields.field_ol_cal_no.content }}</p>
		{% endif %}
		{% if fields.field_ol_votes.content %}
			{{ fields.field_ol_votes.content }}
			<div class="vote-meta">
				<div class="meta-row">
					<div class="meta-comm-referral">
						<label>{{ fields.field_ol_last_status.content }}:</label>
						{{ fields.field_ol_last_status_date.content }}
					</div>
				</div>
			</div>
		{% endif %}
	</div>
</article>
