{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{{ attach_library('nysenate_theme/newsroom-content') }}

<div class="tabs-content">
  <div class="view-content">
    {% for content in contents %}
      <div class="{% if loop.first %} first {% endif %} {% if loop.index is odd %} u-odd {% else %} u-even {% endif %}">
        <article class="c-block c-block-press-release">
          <div class="c-press-release--header">
            <p class="c-press-release--title">{{ content.title }}</p>
            {% for topic in content.topics %}
              {% if loop.last %}
                <a href="{{ topic.url }}" class="c-press-release--topic">{{ topic.name }}</a>
              {% else %}
                <a href="{{ topic.url }}" class="c-press-release--topic">{{ topic.name }}</a>,
              {% endif %}
            {% endfor %}
          </div>
          <div class="c-press-release--body {% if content.img_src %}c-press-release--body__has-img {% endif %}">
            <h3 class="c-press-release--descript">
              <a href="{{ content.description.url }}">{{ content.description.text }}</a>
            </h3>
            <p class="c-press-release--date">
              <span class="date-display-single">{{ content.date }}</span>
            </p>
            <!-- if has video thumbnail it would go here -->
            {% if content.img_src %}
              <div class="c-press-release--img"><img src="{{ content.img_src }}" width="200" height="125" alt=""></div>
            {% endif %}
          </div>
        </article>
      </div>
    {% endfor %}
  </div>
</div>