{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{{ attach_library('nysenate_theme/dashboard-petitions-questionnaires') }}
{{ attach_library('nysenate_theme/nysenate-tabs') }}

{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'container',
    'c-block',
    'c-container',
    'c-container--const-pet-quest',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <h3 class="c-container--title">
    Petitions and Questionnaires
  </h3>

  <dl class="l-tab-bar">
    <div class="c-tab--arrow u-mobile-only"></div>
    <dd class="c-tab active">
      <input class="c-tab-link form-radio" type="radio" name="petitions" value="#yourpetitions"/>
      <label class="c-tab-link" for="petitions">Petitions You've Signed</label>
    </dd>
    <dd class="c-tab">
      <input class="c-tab-link form-radio" type="radio" name="questionnaires" value="#allpetitions"/>
      <label class="c-tab-link" for="questionnaires">
        Questionnaires You've Taken
      </label>
    </dd>
  </dl>

  <div class="tabs-content">
    <div class="content your-petitions active" id="yourpetitions">
      <div class="c-container--body">
        {% if rows %}
          {{ rows }}
        {% elseif empty %}
          <div class="view-empty">
            {{ empty }}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="content all-petitions" id="allpetitions">
      <div class="c-container--body">
        {# {{ drupal_view('constituent_petitions_and_questionnaires', 'constituent_questionnaires_submitted') }} #}
      </div>
    </div>
  </div>
</div>
