{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{{ attach_library('nysenate_theme/session') }}

{% for row in rows %}
  <div class="{% if loop.first %} first {% endif %} {% if loop.index is odd %} u-odd {% else %} u-even {% endif %}">
    {{ row.content }}
    {# <div class="c-update-block">
      <div class="l-panel-col l-panel-col--lft">
        <h4 class="c-listing--bill-num"><a href="{{ content.cta.url }}">{{ content.title }}</a></h4>
        <div class="c-tabs--related-issues">{{ content.issues }}</div>
      </div>

      <div class="l-panel-col l-panel-col--ctr">
        <p>{{ content.field_ol_name }}</p>
      </div>

      <div class="l-right-actions">
      </div>
    </div> #}
  </div>
{% endfor %}
