{#
/**
 * @file nysenate-dashboard-action-bar.twig
 */
#}
{% if content %}
  {{ attach_library('nysenate_theme/nysenate-dashboard-action-bar') }}
  {%
    set classes = [
      'dashboard-action-bar-block',
      'block',
    ]
  %}
  <div{{ attributes.addClass(classes) }}>
    {% if label %}
      <h2>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    <h1 class="dashboard-action-bar-heading">{{ content.heading }}</h1>
    <p class="dashboard-action-bar-subheading">
      <em>{{ content.subheading }}</em>
    </p>
    <div class='dashboard-action-bar-link-wrapper'>
    {% for link in content.featured_links %}
      <a class="dashboard-action-bar-link" href="{{ link.url }}">
        <i class="ph ph-{{ link.icon }}"></i>
        {{ link.text }}
      </a>
    {% endfor %}
    </div>
  </div>
{% endif %}
