{{ attach_library('nysenate_theme/dashboard-lists') }}
{{ attach_library('nysenate_theme/nysenate-tabs') }}

<div class="c-block c-container c-container--const-issues-follow">
  <div class="c-container--body">
    <section class="top-issue-updates">

      {% if page_type == "committee" or page_type == "bills" %}
        {% if title %}
          <div class="c-list--header">
            <h2 class="c-container--title">{{ title }}</h2>
          </div>
        {% endif %}
        <div class="filter-wrapper {% if empty_list_title %}filter-wrapper--empty{% endif %}">
          {% for filter_item in filter_items %}
            <div>
              <label for="edit-type">
                {{ filter_item.label }}
              </label>
              <div class="view-filters">
                <div class="js-form-item form-item js-form-type-select form-type-select">
                  <select id="edit-type-{{ loop.index }}" name="edit-type" class="form-select">
                    {% for select_option in filter_item.select_options %}
                      <option value="{{ select_option.value }}" {% if loop.first %} selected="selected" {% endif %}>{{ select_option.text }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}


      {% if page_type == "issues" %}
        {% if title %}
          <div class="c-list--header">
            <h2 class="c-container--title">{{ title }}</h2>
          </div>
        {% endif %}
        <div class="filter-wrapper {% if empty_list_title %}filter-wrapper--empty{% endif %}">
          {% for filter_item in filter_items %}
            <div>
              <label for="edit-type">
                {{ filter_item.label }}
              </label>
              <div class="view-filters">
                <div class="js-form-item form-item js-form-type-select form-type-select">
                  <select id="edit-type-{{ loop.index }}" name="edit-type" class="form-select">
                    {% for select_option in filter_item.select_options %}
                      <option value="{{ select_option.value }}" {% if loop.first %} selected="selected" {% endif %}>{{ select_option.text }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if article_items %}
        <div class="content-list__wrapper">
          {% for article_item in article_items %}
            <div class="content__item {% if loop.first %} first {% endif %} {% if loop.index is odd %} u-odd {% else %} u-even {% endif %}">
              {% include "@nysenate_theme/nysenate-search-results-listing/nysenate-search-results-listing.twig" with {
                  article: article_item
                } only %}
            </div>
          {% endfor %}
        </div>
      {% else %}
        {% if empty_message and page_type != "issues" %}
          <div class="view-empty">
            {{ empty_message|raw }}
          </div>
        {% endif %}

      {% endif %}
      {% if article_items|length > 5 %}
        <div class="item-list">
          <div class="pager pager-load-more">
            <span class="pager-next first last">
              <a class="load-more">{{ pagination_link_text }}</a>
            </span>
          </div>
        </div>
      {% endif %}

      {% if card_list_title %}
        <div class="c-follow-issue--header">
          <h2 class="c-container--title">{{ card_list_title }}</h2>
          {% if explore %}
            <a href="{{ explore.url }}" class="explore-link icon-after__right">{{ explore.text }}</a>
          {% endif %}
        </div>
      {% endif %}


      {% if empty_list_title %}
        <div class="view-header">
          <h2 class="c-container--title">{{ empty_list_title }}</h2>
          {{ find_items_message|raw }}
        </div>
      {% endif %}


    </section>
  </div>
</div>
{% if issue_cards %}
  <div class="view-content">
    {% include "@nysenate_theme/nysenate-issues/nysenate-issues.twig" with {
      issues: issue_cards,
      is_patternlab: true
    } only %}
  </div>
{% elseif committee_cards %}
  <div class="view-content">
    {% include "@nysenate_theme/nysenate-committee-widget/nysenate-committee-widget.twig" with {
      committees: committee_cards
    } only %}
  </div>
{% elseif bill_cards %}
  <div class="view-content dashboard-bills-list">
    {% include "@nysenate_theme/featured-bills/featured-bills.twig" with bill_cards only %}
  </div>
{% else %}
  {% if empty_message %}
    <div class="view-empty">
      {{ empty_message }}
    </div>
  {% endif %}
{% endif %}

{% if issue_cards|length > 12 %}
  <div class="item-list">
    <div class="pager pager-load-more">
      <span class="pager-next first last">
        <a class="load-more">{{ pagination_link_text }}</a>
      </span>
    </div>
  </div>
{% endif %}
