{{ attach_library('nysenate_theme/newsroom-content') }}

<div class="l-row">

  <dl class="l-tab-bar" data-tab="">
    <div class="c-tab--arrow u-mobile-only"></div>
    {% for panel in panels %}
      <dd class="c-tab {% if loop.first %}active{% endif %}">
        <a class="c-tab-link {% if loop.first %}first{% endif %}" href="#panel{{ loop.index }}">{{ panel.tab_text }}</a>
      </dd>
    {% endfor %}
  </dl>
  <div class="tabs-content">
    {% for panel in panels %}
      <div class="panel-pane pane-views pane-senator-news content {% if loop.first %} active {% endif %}" id="panel{{ loop.index }}">


        <div class="pane-content">
          <div class="c-news-container view view-senator-news view-id-senator_news view-display-id-all_news">


            <div class="view-content">
              {% for content in panel.contents %}
                <div class="{% if loop.first %} first {% endif %} {% if loop.index is odd %} u-odd {% else %} u-even {% endif %}">
                  <article class="c-block c-block-press-release">
                    <div class="c-press-release--header">
                      <p class="c-press-release--title">{{ content.title }}</p>
                      {% for topic in content.topics %}
                        {% if loop.last %}
                          <a href="{{ topic.url }}" class="c-press-release--topic">{{ topic.name }}</a>
                        {% else %}
                          <a href="{{ topic.url }}" class="c-press-release--topic">{{ topic.name }}</a>,
                        {% endif %}
                      {% endfor %}
                    </div>
                    <div class="c-press-release--body {% if content.img_src %}c-press-release--body__has-img {% endif %}">
                      <h3 class="c-press-release--descript">
                        <a href="{{ content.description.url }}">{{ content.description.text }}</a>
                      </h3>
                      <p class="c-press-release--date">
                        <span class="date-display-single">{{ content.date }}</span>
                      </p>
                      <!-- if has video thumbnail it would go here -->
                      <div class="c-press-release--img"><img src="{{ content.img_src }}" width="200" height="125" alt=""></div>
                    </div>
                  </article>
                </div>
              {% endfor %}
            </div>

            <div class="item-list">
              <ul class="pager pager-load-more">
                <li class="pager-next first last">
                  <a href="{{ panel.pagination_link }}">See More {{ panel.pagination_link_text }}</a>
                </li>
              </ul>
            </div>


          </div>
        </div>


      </div>
      {% if not loop.last %}
        <div class="panel-separator"></div>
      {% endif %}
    {% endfor %}
  </div>

</div>
