{{ attach_library('nysenate_theme/newsroom-content') }}
{{ attach_library('nysenate_theme/nysenate-tabs') }}

<div class="newsroom-content l-row">
  {% if event %}
    <div class="c-upcoming--header" id="tab_top_bar">
      <h3 class='c-month-title'>{{ date }}</h3>
      <div class="c-upcoming--nav">
        {% for month in months %}
          {{ month.link }}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <div class="l-tab-bar">
    <div class="c-tab--arrow u-mobile-only"></div>
    {% for panel in panels %}
      <div class="c-tab {% if loop.first %}active{% endif %}">
        <input type="radio" name="language" value="#panel{{ loop.index }}" {% if loop.first %} checked="checked" {% endif %}>
        <label class="c-tab-link">{{ panel.tab_text }}</label>
      </div>
    {% endfor %}
  </div>

  <div class="tabs-content">

    {% if news %}
      {% for panel in panels %}
        <div class="content {% if loop.first %} active {% endif %}" id="panel{{ loop.index }}">

          <div class="content-list__wrapper">
            {% for content in panel.contents %}
              <div class="content__item {% if loop.first %} first {% endif %} {% if loop.index is odd %} u-odd {% else %} u-even {% endif %}">
                {% include "@nysenate_theme/nysenate-press-release/nysenate-press-release.twig" with {
                  article: content
                } only %}
              </div>
            {% endfor %}
          </div>

          {% if panel.contents|length > 5 %}
            <div class="pager pager-load-more">
              <span class="pager-next first last">
                <a class="load-more">See More
                  {{ panel.pagination_link_text }}</a>
              </span>
            </div>
          {% endif %}

        </div>
        {% if not loop.last %}
          <div class="panel-separator"></div>
        {% endif %}
      {% endfor %}
    {% elseif event %}
      {% for panel in panels %}
        <div class="content {% if loop.first %} active {% endif %}" id="panel{{ loop.index }}">
          <div id="wrapper1">

            <div class="content-list__wrapper">
              {% for content in panel.contents %}
                <div class="content__item {% if loop.first %} first {% endif %} {% if loop.index is odd %} odd u-odd {% else %} even u-even {% endif %}">
                  <article class="c-event-block c-event-block--list">
                    <div class="c-event-date">
                      <span>{{ content.date }}</span>
                      {{ content.month }}</div>
                    <div class="event-details">
                      <a href="{{ content.event_url }}">
                        <h3 class="c-event-name">{{ content.event_name }}</h3>
                      </a>
                      <a class="c-event-location" href="{{ content.location.link }}" target="_blank">
                        <span class="icon-before__circle-pin"></span>
                        <span>{{ content.location.name }}</span>
                      </a>
                      {% if content.address %}
                        <div class="c-event-address">{{ content.address|raw }}</div>
                      {% endif %}
                      <div class="c-event-time">
                        <span class="date-display-single">
                          <span class="date-display-range">
                            <span class="date-display-start">{{ content.time_start }}</span>
                            to
                            <span class="date-display-end">{{ content.time_end }}</span>
                          </span>
                        </span>
                      </div>
                    </div>
                  </article>
                </div>
              {% endfor %}
            </div>

            {% if panel.contents|length > 5 %}
              <div class="pager pager-load-more">
                <span class="pager-next first last">
                  <a class="load-more">See More
                    {{ panel.pagination_link_text }}</a>
                </span>
              </div>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    {% elseif legislation %}
      {% for panel in panels %}
        <div class="content {% if loop.first %} active {% endif %}" id="panel{{ loop.index }}">

          <div class="content-list__wrapper">
            {% if panel.content %}
              {% for content in panel.contents %}
                <div class="content__item {% if loop.first %} first {% endif %} {% if loop.index is odd %} odd u-odd {% else %} even u-even {% endif %}">

                  {% include "@nysenate_theme/bill-item/bill-item.twig" with {
                    bill: content.bill
                  } only %}
                </div>
              {% endfor %}
            {% else %}
              <div class="view-empty">
                No content found at this time
              </div>
            {% endif %}
          </div>

          {% if panel.contents|length > 5 %}
            <div class="pager pager-load-more">
              <span class="pager-next first last">
                <a class="load-more">See More
                  {{ panel.pagination_link_text }}</a>
              </span>
            </div>
          {% endif %}

          {% if panel.content %}
            <div class="c-container--header link">
              <a href="{{ panel.view_all_link }}" class="c-container--link">
                {{ panel.view_all_text }}
              </a>
            </div>
          {% endif %}

        </div>
      {% endfor %}
    {% endif %}

  </div>
</div>
