<div class="c-senator-dashboard-petition-teaser">
  <h2>{{ title }}</h2>
  {{ signings }}
  {{ in_out_district_signings }}
  {{ link_to_constituents_list }}
  {{ byline }}
  {{ status }}
  {{ date }}
  {{ expiration_date }}
</div>
