{#
/**
 * @file
 * Theme override for a multi-item form element.
 *
 * Available variables for all fields:
 * - multiple: Whether there are multiple instances of the field.
 *
 * Available variables for single cardinality fields:
 * - elements: Form elements to be rendered.
 *
 * Available variables when there are multiple fields.
 * - table: Table of field items.
 * - description: The description element containing the following properties:
 *   - content: The description content of the form element.
 *   - attributes: HTML attributes to apply to the description container.
 * - button: "Add another item" button.
 *
 * @see template_preprocess_field_multiple_value_form()
 */
#}
{% if multiple %}
  {%
    set classes = [
      'js-form-item',
      'form-item',
      'form-item--multi-value',
    ]
  %}
  <div{{ attributes.addClass(classes) }}>
    {#
      Display label in this template, instead of showing it inside the
      multivalue table.
     #}
    {{ label }}
    {{ table }}
    {% if description.content %}
      <div{{ description.attributes.addClass('description', 'form-item--multi-value__description') }} >{{ description.content }}</div>
    {% endif %}
    {% if button %}
      <div class="form-item--multi-value__actions-wrapper clearfix">{{ button }}</div>
    {% endif %}
  </div>
{% else %}
  {% for element in elements %}
    {{ element }}
  {% endfor %}
{% endif %}
