{{ attach_library('nysenate_theme/nysenate-footer') }}
{% import '@rain_theme/icons/_icons-macro.twig' as icons %}

<a title="nysenate.gov" href="{{ site_branding.link }}">
  <span class="lgt-text icon-before__left">{{ site_branding.text }}</span>
  <img src="{{ site_branding.img.url }}" alt="{{ site_branding.img.alt }}" class='c-seal c-seal-footer'>
</a>
