{{ attach_library('nysenate_theme/nysenate-committee-detail') }}

<div class="c-committees-container">
  <h2 class="c-container-title">{{ title }}</h2>
  <div class="view-content">
    {% for group in groups %}
      <h3 class="c-group-title">{{ group.title }}</h3>
      
      <div class="c-committees-wrapper">
        {% for committee in group.committees %}
          <a href="{{ committee.url }}" hreflang="en" class="c-committee-link">
            <h4 class="c-committee-title">{{ committee.title }}</h4>
          </a>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>