{{ attach_library('rain_theme/dashboard-petitions-questionnaires') }}
{{ attach_library('nysenate_theme/nysenate-tabs') }}

<div class="c-block c-container c-container--const-pet-quest">
  <h3 class="c-container--title">
    Petitions and Questionnaires
  </h3>

  <dl class="l-tab-bar">
    <div class="c-tab--arrow u-mobile-only"></div>
    <dd class="c-tab active">
      <input class="c-tab-link form-radio" type="radio" name="petitions" value="#yourpetitions"/>
      <label class="c-tab-link" for="petitions">Petitions You've Signed</label>
    </dd>
    <dd class="c-tab">
      <input class="c-tab-link form-radio" type="radio" name="questionnaires" value="#allpetitions"/>
      <label class="c-tab-link" for="questionnaires">
        Questionnaires You've Taken
      </label>
    </dd>
  </dl>

  <div class="tabs-content">
    <div class="content your-petitions active" id="yourpetitions">
      <div class="c-container--body">
        {% if petitions %}
          {% for petition in petitions %}
            <article>
              <div class="pet-body">
                <h3 class="entry-title">
                  {{ petition.title }}
                </h3>
                <div class="pet-type">
                  <a href="{{ petition.content.url }}">{{ petition.content.text }}</a>
                </div>
                <div class="author">
                  <span>By: <a href="{{ petition.author.url }}">{{ petition.author.name }}</a></span>
                </div>
                <div class="article-date">
                  <span>Signed on {{ petition.timestamp }}</span>
                </div>
              </div>
              <div class="pet-share-bar">
                {% if petition.petition_is_active %}
                  <p>
                    Promote this Petition
                  </p>
                  <a href="{{ petition.fb_url }}" class="pet-facebook-share icon-after__facebook"></a>
                  <a href="{{ petition.twitter_url }}" class="pet-twitter-share icon-after__twitter"></a>
                {% else %}
                  <p>
                    This Petition is No Longer Active
                  </p>
                {% endif %}
                {% if petition.explore_link %}
                  <a href="{{ petition.explore_link }}" class="explore-link icon-after__right">
                    Explore Related Petitions
                  </a>
                {% endif %}
              </div>
            </article>
          {% endfor %}
        {% else %}
          <section class="top-issue-updates">
            <div class="view-empty">
              <p>
                No Petitions to show.<br/>
                Please sign petitions on
                <a href="/">NYSenate.gov</a>
                to view updates.
              </p>
            </div>
          </section>
        {% endif %}
      </div>
    </div>

    <div class="content all-petitions" id="allpetitions">
      <div class="c-container--body">
        {% if questionnaires %}
          {% for questionnaire in questionnaires %}
            <article>
              <div class="pet-body">
                <h3 class="entry-title">
                  {{ questionnaire.title }}
                </h3>
                <div class="pet-type">
                  <a href="{{ questionnaire.content.url }}">{{ questionnaire.content.text }}</a>
                </div>
                <div class="author">
                  <span>By: <a href="{{ questionnaire.author.url }}">{{ questionnaire.author.name }}</a></span>
                </div>
                <div class="article-date">
                  <span>Signed on {{ questionnaire.timestamp }}</span>
                </div>
              </div>
              <div class="pet-share-bar">
                {% if questionnaire.petition_is_active %}
                  <p>
                    Promote this Questionnaire
                  </p>
                  <a href="{{ questionnaire.fb_url }}" class="pet-facebook-share icon-after__facebook"></a>
                  <a href="{{ questionnaire.twitter_url }}" class="pet-twitter-share icon-after__twitter"></a>
                {% else %}
                  <p>
                    This Petition is No Longer Active
                  </p>
                {% endif %}
                {% if questionnaire.explore_link %}
                  <a href="{{ questionnaire.explore_link }}" class="explore-link icon-after__right">
                    Explore Related Questionnaires
                  </a>
                {% endif %}
              </div>
            </article>
          {% endfor %}
        {% else %}
          <section class="top-issue-updates">
            <div class="view-empty">
              <p>
                No Questionnaires to show.<br/>
                Please answer questionnaires on
                <a href="/">NYSenate.gov</a>
                to view updates.
              </p>
            </div>
          </section>
        {% endif %}
      </div>
    </div>
  </div>
</div>
