{{ attach_library('nysenate_theme/bill-item') }}

<div class="c-block c-block-legislation {% if bill.featured %} c-block-legislation-featured {% endif %} {% if body %}c-block--half-wrap{% endif %} {{ modifier ? '' ~ modifier }}">
  <div class="c-legislation-info {% if bill.issues %} with-issues {% endif %}">
  {% if bill.issues %}
    <div class="left-col">
  {% endif %}
      <h3 class="c-bill-num {{ bill.number_large ? 'c-bill-num--large' : '' }}">
        <a href="{{ bill.link }}">{{ bill.number }}</a>
      </h3>

      {% if bill.issues %}
        <div class="bill-type">
          {% for issue in bill.issues %}
            {% if loop.last %}
              <a href="{{ issue.url }}" class="c-press-release--topic">{{ issue.text }}</a>
            {% else %}
              <a href="{{ issue.url }}" class="c-press-release--topic">{{ issue.text }}</a>,
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% if bill.issues %}
    </div>
    {% endif %}

    <div class="right-col">
      {% if bill.description_position == "top" %}
        <p class="c-bill-descript">
          {{ bill.description }}
        </p>
      {% endif %}
      {% if bill.positions %}
        <ul class="nys-bill-status {% if bill.small %} nys-bill-status__sml {% endif %} {% if bill.featured %} nys-bill-status__drk {% endif %}">
          <hr/>
          {% for position in bill.positions %}
            {% if position.is_grouped %}
              <li class="nys-bill-status--assem-sen">
                <ul class="nys-bill-status">
                  {% for item in position.items %}
                    <li {% if item.is_passed %} class="passed" {% endif %} title="{{ item.text }}">
                      <span class="nys-bill-status--text">{{ item.text }}</span>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li {% if position.is_passed == true %} class="passed" {% endif %} title="{{ position.text }}">
                <span class="nys-bill-status--text">{{ position.text }}</span>
              </li>
            {% endif %}
          {% endfor %}
          <li class="spacer"></li>
        </ul>
      {% endif %}
      {% if bill.description_position == "bottom" %}
        <p class="c-bill-descript">
          {{ bill.description }}
        </p>
      {% endif %}
      {% if bill.resolution %}
        <div class="c-bill-update">
          <div>
            <p class="c-bill-update--date">
              <span class="date-display-single">{{ bill.date }}</span>
            </p>
            {% if bill.update_location %}
              <p class="c-bill-update--location">
                <span>
                  {{ bill.update_location }}
                </span>
              </p>
            {% endif %}
          </div>
          {% if bill.committee_link %}
            <a class="committee-link" href="{{ bill.committee_link.url }}">{{ bill.committee_link.text }}</a>
          {% endif %}
        </div>
      {% else %}
        <div class="c-bill-update">
          <p class="c-bill-update--date">
            <span class="date-display-single">{{ bill.date }}</span>
          </p>
          {% if bill.update_location %}
            <p class="c-bill-update--location">
              <span>
                {{ bill.update_location }}
              </span>
            </p>
          {% endif %}
          {% if bill.ol_sponsor %}
            <p class="c-bill-update--sponsor">
              Sponsor:
              <a href={{ bill.ol_sponsor.url }}>{{ bill.ol_sponsor.text }}</a>
            </p>
          {% endif %}
        </div>
        {% if bill.committee_link %}
          <a class="committee-link" href="{{ bill.committee_link.url }}">{{ bill.committee_link.text }}</a>
        {% endif %}
      {% endif %}

      {% if bill.sponsor %}
        <div class="sponsors {{ bill.sponsor_modifier }}">
          <span>{{ bill.sponsor_text|default('Sponsored by') }}</span>
          <span class="sponsor-name">{{ bill.sponsor }}</span>
        </div>
      {% endif %}

      {% if bill.is_poll %}
        <div class="c-bill-polling med-bg embed">
          {% include "@nysenate_theme/bill-vote-widget/bill-vote-widget.twig" with {
            action: bill.action,
            node_id: bill.node_id,
          } only %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
