{% set library, height, width, height_units, width_units = 'charts_' ~ chart_type ~ '/' ~ chart_type, options.height, options.width, options.height_units, options.width_units %}
{{ attach_library("#{ library }") }}
<div {{ attributes }} {{ content_attributes }}
        style="{% if width is not empty %}width:{{ width }}{{ width_units }};{% endif %}{% if height is not empty %}height:{{ height }}{{ height_units }};{% endif %}"></div>
