{{ attach_library('nysenate_theme/nysenate-my-dashboard-teaser') }}
{{ attach_library('nysenate_theme/bill-item') }}
{%
  set classes, type_icon_map, type_label_map, truncate  = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    node.field_image_main.value ? 'node--teaser-with-extras',
    node.field_image_main.value ? 'node--teaser-with-image',
    positions ? 'node--teaser-with-extras'
  ],
  {
    'article': 'article',
    'bill': 'gavel',
    'in_the_news': 'newspaper-clipping',
    'meeting': 'calendar',
    'petition': 'clipboard',
    'public_hearing': 'calendar-blank',
    'resolution': 'scales',
    'webform': 'question',
  },
  {
    'bill': 'Bill',
    'in_the_news': 'News',
    'meeting': 'Meeting',
    'petition': 'Petition',
    'public_hearing': 'Public Hearing',
    'resolution': 'Resolution',
    'webform': 'Questionnaire',
  },
  150
%}
{% set read_more %}
  <span class="c-my-dashboard--read-more"><a href="{{ url }}">... Read More</a></span>
{% endset %}
<article{{ attributes.addClass(classes) }}>
  <div class="c-my-dashboard--type-wrapper">
    <i class="ph ph-{{ attribute(type_icon_map, node.bundle) }}"></i>
    <span class="c-my-dashboard--type">
      {% if node.bundle == 'article' %}
        {{ content.field_category.0 }}
      {% else %}
        {{ attribute(type_label_map, node.bundle) }}
      {% endif %}
    </span>
  </div>
  <h2{{ title_attributes }}>
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </h2>
  <div class="c-my-dashboard--blurb">
    {% if node.field_subtitle.value %}
      {{ node.field_subtitle.value|render|striptags|truncate(truncate, true)|raw }}{{ read_more }}
    {% elseif node.field_subhead.value %}
      {{ node.field_subhead.value|render|striptags|truncate(truncate, true)|raw }}{{ read_more }}
    {% elseif node.field_ol_name.value %}
      {{ node.field_ol_name.value|render|striptags|truncate(truncate, true)|raw }}{{ read_more }}
    {% elseif node.body.value %}
      {{ node.body.value|render|striptags|truncate(truncate, true)|raw }}{{ read_more }}
    {% endif %}
  </div>
  <div class="c-my-dashboard--details">
    {% if node.bundle != 'bill' %}
      <div>
      {% if node.field_date_range.value %}
        {{ node.field_date_range.value|date('U')|format_date('publish_date') }}
        | {{ node.field_date_range.value|date('U')|format_date('time') }}
      {% elseif node.field_date.value %}
        {{ node.field_date.value|date('U')|format_date('publish_date') }}
        {% if node.field_senator_multiref.value  %}
          | By Senator {{ content.field_senator_multiref.0 }}
        {% endif %}
      {% elseif node.field_ol_publish_date.value %}
        {{ node.field_ol_publish_date.value|date('U')|format_date('publish_date') }}
        {% if node.field_ol_sponsor.value  %}
          | Sponsored by {{ content.field_ol_sponsor.0 }}
        {% endif %}
      {% endif %}
      </div>
    {% endif %}
    {% if content.vote_widget %}
      {{ content.vote_widget }}
    {% endif %}
    {% if node.field_issues.value %}
      {{ content.field_issues }}
    {% endif %}
    {% if node.field_committee.value %}
      {{ content.field_committee }}
    {% endif %}
  </div>
  {% if 'node--teaser-with-extras' in classes %}
    <div class="c-my-dashboard--extras">
      {% if node.field_image_main.value %}
          {{ content.field_image_main }}
      {% elseif node.bundle == 'bill' %}
        {% if node.field_ol_last_status_date.value %}
          <div class="field">Updated {{ node.field_ol_last_status_date.value|date('U')|format_date('publish_date') }}</div>
        {% elseif node.field_ol_publish_date.value %}
          <div class="field">Introduced {{ node.field_ol_publish_date.value|date('U')|format_date('publish_date') }}</div>
        {% endif %}
        {% if node.field_ol_sponsor.value %}
          {{ content.field_ol_sponsor }}
        {% endif %}
        {% if node.field_ol_last_status.value %}
          {{ content.field_ol_last_status }}
        {% endif %}
        {% if positions %}
          {%
            include '@nysenate_theme/src/templates/includes/nys-bill-status.html.twig'
            with {positions: positions, is_small: true}
            only
          %}
        {% endif %}
      {% endif %}
    </div>
  {% endif %}
</article>
