{{ attach_library('nysenate_theme/nysenate-student-programs') }}

<div class="pane-content">
  <div class="c-block c-block--about-student-programs">
    <h3 class="nys-subtitle-title">{{ title }}</h3>
    <p class="l-row">{{ body }}</p>
    {% if cta.text %}
      <a href="{{ cta.url }}" class="c-container--link">{{ cta.text }}</a>
    {% endif %}
  </div>
  <section class="c-block c-student-program-are-you">
    <div class="gen-wrapper">
      {% if programs %}
        {% for program in programs %}
          <a class="gen-col--height {{ program.color }}" href="{{ program.url }}">{{ program.text }}</a>
        {% endfor %}
      {% endif %}
    </div>
    {% if program_block %}
        {{ program_block }}
    {% endif %}
  </section>
</div>
