{{ attach_library('nysenate_theme/nysenate-student-programs') }}

<div class="pane-content">
  <div class="c-block c-block--about-student-programs">
    {% if title %}
      <h3 class="nys-subtitle-title">{{ title }}</h3>
    {% endif %}
    {% if body %}
      <p class="l-row">{{ body }}</p>
    {% endif %}
    {% if cta.text %}
      <a href="{{ cta.url }}" class="c-container--link">{{ cta.text }}</a>
    {% endif %}
  </div>
  <section class="c-block c-student-program-are-you">
    {% if programs %}
      <div class="gen-wrapper">
        {% for program in programs %}
          <a class="gen-col--height {{ program.color }}" href="{{ program.url }}">{{ program.text }}</a>
        {% endfor %}
      </div>
    {% endif %}
    {% if program_block %}
      {{ program_block }}
    {% endif %}
  </section>
</div>
