{{ attach_library('nysenate_theme/landing-page-hero') }}

<section class="landing-page-hero">
  <div id="{{ section_id }}" class="l-row l-row--hero">
    {{ background_img }}

    <div class="l-row l-row--main c-hero--tout">
      <div class="c-about--welcome">
        <h2 class="nys-title nys-title--about">{{ title }}</h2>
       {{ welcome_text }}
      </div>
        {{ body }}
      </div>
    </div>
  </div>  
</section>