{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{{ attach_library('nysenate_theme/dashboard-inbox') }}

{%
  set classes = [
    'c-block',
    'c-container',
    'c-container--const-inbox'
  ]
%}
<div class="container">
  <form{{ attributes.addClass(classes) }}>
    <h3 class="c-container__title">
      {{ title }}
    </h3>
    <a class="c-container__cta {{ type == 'sent' ? 'c-container__cta--sent' : '' }}" href="{{ cta.link }}">{{ cta.label }}</a>

    {{ children }}
  </form>
</div>