{#
/**
 * @file nys-questionnaires-district-submissions-highchart.html.twig
 *
 * @var string|integer qid
 *   The questionnaire ID.
 * @var string title
 *   The questionnaire title.
 * @var integer total
 *   Total number of submissions.
 * @var integer in_district
 *   Number of submissions from users within the district.
 * @var integer out_district
 *   Number of submissions from users outside the district.
 */
#}
<div class="sponsored-questionnaire"
     id="sponsored-questionnaire-{{ qid }}"
     data-qid="{{ qid }}">
  <div class="questionnaire-submission-chart"
       data-in-district="{{ in_district }}"
       data-out-district="{{ out_district }}"
       data-submissions="{{ total }}"
       data-title="{{ title }}">
    {{ qid }}<br />{{ title }}<br />{{ total }} - {{ in_district }} - {{ out_district }}
  </div>
</div>
