{{ attach_library('nysenate_theme/text-layout') }}

<div class="text-layout {% if contents|length > 1 %}text-layout--2-col{% endif %} {% if is_full_bleed %}text-layout--full-bleed{% endif %} {% if with_bg %}text-layout--with-bg{% endif %}">
  <div class="text-layout__container">
    {% if title and title_show == 'On' %}
      <div class="text-layout__title {{ title_format }}">
        {{ title }}
      </div>
    {% endif %}
    <div class="text-layout__body">
      {% for content in contents %}
        <div class="content">
          {{ content.text|raw }}
        </div>
      {% endfor %}
    </div>
    {% if link is not empty %}
      <a href="{{ link.url }}" class="c-container--link">{{ link.text }}</a>
    {% endif %}
  </div>
</div>
