<div class="c-block c-event-featured-story">
    <div class="c-container--header__top-border">
        <h3 class="c-container--title">
            Featured Story
        </h3>
    </div>

    <div class="story-container">
        <div class="l-left">
                {{ image }}
        </div>
        <div class="l-right">
            <div class="c-story--date med-text">
                {{ date }}
            </div>
            <h3 class="c-story-name">
                <a href="{{ url }}">{{ title }}</a>
            </h3>
            {% if issues %}
                <div class="c-featured-story-issue-tag">
                    {% issue tag in issues %}
                        {{ issue }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
