{{ attach_library('nysenate_theme/newsroom-content') }}
{{ attach_library('nysenate_theme/nysenate-tabs') }}
{{ attach_library('nysenate_theme/event') }}
{{ attach_library('nysenate_theme/event-calendar') }}

<div class="newsroom-content l-row">
  {% if event %}
    <div class="c-upcoming--header" id="tab_top_bar">
      <h3 class='c-month-title'>{{ date }}</h3>
      <div class="c-upcoming--nav">
        {% for month in months %}
          {{ month.link }}
        {% endfor %}
      </div>
    </div>
  {% endif %}


  {% if calendar_event %}
    <div class="cal-nav-wrapper">
      <span class="title">Upcoming Events</span>
      <ul class="cal-nav-list">
        {% for panel in panels %}
          <li>
            <input type="radio" name="language" value="#panel{{ loop.index }}" {% if loop.first %} checked="checked" {% endif %}>
            <label class="c-tab-link {{ panel.tab_modifier_class }}">{{ panel.tab_text }}</label>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <div class="l-tab-bar">
      <div class="c-tab--arrow u-mobile-only"></div>
      {% for panel in panels %}
        <div class="c-tab {% if loop.first %}active{% endif %}">
          <input type="radio" name="language" value="#panel{{ loop.index }}" {% if loop.first %} checked="checked" {% endif %}>
          <label class="c-tab-link">{{ panel.tab_text }}</label>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="tabs-content">

    {% if news %}
      {% for panel in panels %}
        <div class="content {% if loop.first %} active {% endif %}" id="panel{{ loop.index }}">

          <div class="content-list__wrapper">
            {% for content in panel.contents %}
              <div class="content__item {% if loop.first %} first {% endif %} {% if loop.index is odd %} u-odd {% else %} u-even {% endif %}">
                {% include "@nysenate_theme/nysenate-search-results-listing/nysenate-search-results-listing.twig" with {
                  article: content
                } only %}
              </div>
            {% endfor %}
          </div>

          {% if panel.contents|length > 5 %}
            <div class="item-list">
              <div class="pager pager-load-more">
                <span class="pager-next first last">
                  <a class="load-more">See More
                    {{ panel.pagination_link_text }}</a>
                </span>
              </div>
            </div>
          {% endif %}

        </div>
        {% if not loop.last %}
          <div class="panel-separator"></div>
        {% endif %}
      {% endfor %}
    {% elseif event or calendar_event %}
      {% for panel in panels %}
        <div class="content {% if loop.first %} active {% endif %}" id="panel{{ loop.index }}">
          <div id="wrapper1">

            <div class="content-list__wrapper">
              {% for content in panel.contents %}
                <div class="content__item {% if loop.first %} first {% endif %} {% if loop.index is odd %} odd u-odd {% else %} even u-even {% endif %}">
                  <article class="c-event-block c-event-block--list">
                    <div class="c-event-date">
                      <span>{{ content.date }}</span>
                      {{ content.month }}</div>
                    <div class="event-details">
                      <a href="{{ content.event_url }}">
                        <h3 class="c-event-name">{{ content.event_name }}</h3>
                      </a>
                      <a class="c-event-location" href="{{ content.location.link }}" target="_blank">
                        <span class="icon-before__circle-pin"></span>
                        <span>{{ content.location.name }}</span>
                      </a>
                      {% if content.address %}
                        <div class="c-event-address">{{ content.address|raw }}</div>
                      {% endif %}
                      <div class="c-event-time">
                        <span class="date-display-single">
                          <span class="date-display-range">
                            <span class="date-display-start">{{ content.time_start }}</span>
                            to
                            <span class="date-display-end">{{ content.time_end }}</span>
                          </span>
                        </span>
                      </div>
                    </div>
                  </article>
                </div>
              {% endfor %}
            </div>

            {% if panel.contents|length > 5 %}
              <div class="item-list">
                <div class="pager pager-load-more">
                  <span class="pager-next first last">
                    <a class="load-more">See More
                      {{ panel.pagination_link_text }}</a>
                  </span>
                </div>
              </div>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    {% elseif legislation %}
      {% for panel in panels %}
        <div class="content {% if loop.first %} active {% endif %}" id="panel{{ loop.index }}">

          <div class="content-list__wrapper">
            {% if panel.contents|length > 0 %}
              {% for content in panel.contents %}
                <div class="content__item {% if loop.first %} first {% endif %} {% if loop.index is odd %} odd u-odd {% else %} even u-even {% endif %}">

                  {% include "@nysenate_theme/bill-item/bill-item.twig" with {
                    bill: content.bill
                  } only %}
                </div>
              {% endfor %}
            {% else %}
              <div class="view-empty">
                No content found at this time
              </div>
            {% endif %}
          </div>

          {% if panel.contents|length > 5 %}
            <div class="item-list">
              <div class="pager pager-load-more">
                <span class="pager-next first last">
                  <a class="load-more">See More
                    {{ panel.pagination_link_text }}</a>
                </span>
              </div>
            </div>
          {% endif %}

          {% if panel.contents|length > 0 %}
            <div class="c-container--header link">
              <a href="{{ panel.view_all_link }}" class="c-container--link">
                {{ panel.view_all_text }}
              </a>
            </div>
          {% endif %}

        </div>
      {% endfor %}

    {% elseif bills %}
      {% for panel in panels %}
        <div class="content upcoming-legislation-block {% if loop.first %} active {% endif %}" id="panel{{ loop.index }}">
          <div class="c-panel--header">
            <h4 class="l-panel-col l-panel-col--lft">{{ panel.title_left}}</h4>
            <h4 class="l-panel-col l-panel-col--ctr">{{ panel.title_center }}</h4>
            <h4 class="l-panel-col l-panel-col--rgt">{{ panel.title_right }}</h4>
          </div>
          <div class="content-list__wrapper">
            {% if panel.contents|length > 0 %}
              {% for content in panel.contents %}
                <div class="content__item {% if loop.first %} first {% endif %} {% if loop.index is odd %} odd u-odd {% else %} even u-even {% endif %}">
                  <article class="c-update-block">
                    <div class="l-panel-col l-panel-col--lft">
                      <h3 class="c-listing--bill-num">
                        <a href={{ content.bill_url }}>{{ content.bill_number }}</a>
                      </h3>
                      <a href="#" class="c-committee-link"></a>
                      <div class="c-listing--related-issues"></div>
                    </div>
                    <div class="l-panel-col l-panel-col--ctr">
                      <h4 class="c-press-release--descript">
                        <a href={{ content.bill_url }}>{{ content.bill_description }}</a>
                      </h4>
                      <div class="nys-senator">
                        <div class="nys-senator--thumb">
                          <a href={{ content.senator_url }}>
                            <img class="  lazyloaded" src={{ content.img_src }} alt={{ content.img_alt }}>
                          </a>
                        </div>
                        <div class="nys-senator--info">
                          <span>Sponsor</span>
                          <h4 class="nys-senator--name">
                            <a href={{ content.senator_url }}>{{ content.senator_name }}</a>
                          </h4>
                          <p class="nys-senator--district">
                            <span class="nys-senator--party">
                              {{ content.senator_party }}
                            </span>
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="l-right-actions">
                      <div class="vote-container">
                        <div class="aye">
                          <div class="vote-count">{{ content.aye.vote_count }}</div>
                          <div class="vote-label">{{ content.aye.vote_label }}</div>
                        </div>
                        <div class="nay">
                          <div class="vote-count">{{ content.nay.vote_count }}</div>
                          <div class="vote-label">{{ content.nay.vote_label }}</div>
                        </div>
                      </div>
                      <div class="vote-meta">
                        {% for other_vote in content.other_votes %}
                          <div class="meta-row">
                            <div class="meta-count">{{ other_vote.vote_count }}</div>
                            <div class="meta-label">{{ other_vote.vote_label }}</div>
                          </div>
                        {% endfor %}
                      </div>

                      <div class="vote-meta">
                        {% for referral in content.referrals %}
                          <div class="meta-row">
                            <div class="meta-comm-referral">
                              <label>{{ referral.label }}</label>
                              <span class="date-display-single">{{ referral.date }}</span>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </article>
                </div>
              {% endfor %}
            {% else %}
              <div class="view-empty">
                No content found at this time
              </div>
            {% endif %}
          </div>


          {% if panel.contents|length > 5 %}
            <div class="pager pager-load-more">
              <span class="pager-next first last">
                <a class="load-more">See More
                  {{ panel.pagination_link_text }}</a>
              </span>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
