{{ attach_library('nysenate_theme/nysenate-search-results-listing') }}
{{ attach_library('nysenate_theme/bill-item') }}

<article class="c-block c-block-press-release content__item">
  <div class="c-press-release--header">
    {% if article.bill_title %}
      <h3 class="c-bill-num">
        <a href={{ article.bill_title.url }}>
          {% if article.bill_title.prefix %}
            {{ article.bill_title.prefix }}
          {% endif %}
          {{ article.bill_title.text|raw }}
        </a>
      </h3>
    {% else %}
      <p class="c-press-release--title {% if article.search_results %} c-bill-search {% endif %}">
          {% if article.description.url %}
            <a href={{ article.description.url }}>
          {% endif %}
          {{ article.title }}
          {% if article.print_no %}
            {{ article.print_no }}
          {% endif %}
        {% if article.description.url %}
          </a>
        {% endif %}
      </p>
    {% endif %}
  {% if article.topics %}
      <ul>
        {% for topic in article.topics %}
          {% if loop.last %}
            {% if topic.url %}
                <li><a href="{{ topic.url }}" class="c-press-release--topic {% if article.is_dynamic_color %} c-press-release--topic--dynamic-color {% endif %}">{{ topic.name }}</a></li>
            {% else %}
                <li><span class="c-press-release--topic {% if article.is_dynamic_color %} c-press-release--topic--dynamic-color {% endif %}">{{ topic.name }}</span></li>
            {% endif %}
          {% else %}
            {% if topic.url %}
                <li><a href="{{ topic.url }}" class="c-press-release--topic {% if article.is_dynamic_color %} c-press-release--topic--dynamic-color {% endif %}">{{ topic.name|trim }}</a>,</li>
            {% else %}
                <li><span class="c-press-release--topic {% if article.is_dynamic_color %} c-press-release--topic--dynamic-color {% endif %}">{{ topic.name|trim }},</span></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
  {% endif %}
  </div>
  {% if article.is_full_width == false %}
    <div class="c-press-release--body">
      <div class="c-press-release--descript-wrapper">
        {% if not article.bill and article.title != "Resolution" %}
          <h3 class="c-press-release--descript">
            {{ article.description.text }}
          </h3>
        {% endif %}
        {% if article.bill_description %}
          {% if article.bill_url %}
          <p class="c-bill-descript">
              {{ article.bill_description }}
          </p>
          {% else %}
            <p class="c-bill-descript">
              {{ article.bill_description }}
            </p>
          {% endif %}
        {% endif %}
        {% if article.positions and article.title != "Resolution" %}
          {% include '@nysenate_theme/src/templates/includes/nys-bill-status.html.twig' with {positions: article.positions, is_small: true} only %}
        {% endif %}
        {% if article.author %}
          <div class="author">
            <span>By:
              <a href="{{ article.author.url }}">{{ article.author.name }}</a>
            </span>
          </div>
        {% endif %}
        {% if article.date or article.issue_type %}
          <p class="c-press-release--date">
            {% if article.date %}
              <span class="date-display-single">{{ article.date }}</span>
            {% endif %}
            {% if article.issue_type %}
              |
              <span class="issue-type">
                {% if article.issue_type.type %}
                  {{ article.issue_type.type }}
                {% endif %}
                {% if article.issue_type.url %}
                  <a href="{{ article.issue_type.url }}">{{ article.issue_type.text }}</a>
                {% else %}
                  {{ article.issue_type.text }}
                {% endif %}
              </span>
            {% endif %}
          </p>
        {% endif %}
        {% if article.sponsor or article.sponsor_lastname %}
          <p class="c-bill-update--sponsor">
            Sponsor: {{ article.sponsor }} {{ article.sponsor_lastname }}
          </p>
        {% endif %}
        {% if article.location %}
          <div class="event-location icon-before__circle-pin">{{ article.location }}</div>
        {% endif %}

        {% if article.time %}
          <div class="event-date-time">
            <span class="date-display-single">{{ article.time }}</span>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% if article.img_src or article.image %}
    <div class="c-press-release--img">
      {% if article.img_src %}
        <img src="{{ article.img_src }}">
      {% else %}
        {{ article.image }}
      {% endif %}
    </div>
  {% endif %}
</article>
