{{ attach_library('nysenate_theme/featured-legislation') }}

<section class="c-legislation">
  {% if title %}
    <div class="c-container--header__top-border">
      <h3 class="c-container--title">{{ title }}</h3>
    </div>
  {% endif %}

  <div class="c-block c-block-legislation c-block-legislation-featured featured-legislation{% if identifier %} {{ identifier }} {% endif %}">
    <button class="js-leg-toggle c-block--btn c-block--btn-toggle">close</button>
    <div class="c-social">
      <ul class="c-social--list">
        <li>
          <a target="_blank" href="https://www.facebook.com/" class="icon-replace__facebook">facebook</a>
        </li>
        <li>
          <a target="_blank" href="http://twitter.com/" class="icon-replace__twitter">twitter</a>
        </li>
      </ul>
    </div>

    {{ bill }}

    <div class="c-legislation--quote">
      <div class="c-quote--content">
        <h4 class="c-quote--title">{{ sponsor }}'s position</h4>
        <p class="c-pullquote icon-before__quotes">
          {{ quote }}
        </p>
        <span class="c-pullquote--citation icon-before__minus u-quote--has-img">
          Senator
          <a href="{{ senator_link }}">{{ senator_name }}</a>
        </span>

        <div class="c-legislation--sponsor">
          <div class="c-sponsor--img">
            <a href="{{ senator_link }}">{{ senator_image }}</a>
          </div>
          <div class="c-sponsor--info">
            <p class="c-sponsor--name">
              <a href="{{ senator_link }}">{{ senator_name }}</a>
            </p>
            {% if party %}
              <p class="c-sponsor--party">{{ party }}</p>
            {% endif %}
            {% if district %}
              <a class="c-sponsor--dist" href="{{ senator_link }}/district">{{ district }} District</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
