{#
/**
 * @file
 * Default simple view template to display a list of rows.
 *
 * @ingroup views_templates
 */
#}
{{ attach_library('nysenate_theme/dashboard-petitions-questionnaires') }}
{{ attach_library('nysenate_theme/nysenate-tabs') }}
{{ attach_library('nysenate_theme/newsroom-content') }}

{% set Type = current_display == 'constituent_petitions_signed' ? 'Petition' : 'Questionnaire' %}

{% if petitions %}
  {% for petition in petitions %}
    <article class="content__item">
      <div class="pet-body">
        <h3 class="entry-title">
          <a href="{{ petition.url }}">{{ petition.title }}</a>
        </h3>
        <div class="pet-type">
          {% for issue in petition.issues %}
            {% if loop.last %}
              <a href="{{ issue.url }}">{{ issue.name }}</a>
            {% else %}
              <a href="{{ issue.url }}">{{ issue.name }}</a>,
            {% endif %}
          {% endfor %}
        </div>
        <div class="author">
          <span>By: <a href="{{ petition.author.url }}">{{ petition.author.name }}</a></span>
        </div>
        <div class="article-date">
          <span>Signed on {{ petition.timestamp }}</span>
        </div>
      </div>
      <div class="pet-share-bar">
        {% if petition.petition_is_active %}
          <p>
            Promote this {{ Type }}
          </p>
          <a href="{{ petition.fb_url }}" class="pet-facebook-share icon-after__facebook"></a>
          <a href="{{ petition.twitter_url }}" class="pet-twitter-share icon-after__twitter"></a>
        {% else %}
          <p>
            This {{ Type }} is No Longer Active
          </p>
        {% endif %}
        {% if petition.explore_link %}
          <a href="{{ petition.explore_link }}" class="explore-link icon-after__right">
            Explore Related {{ Type }}s
          </a>
        {% endif %}
      </div>
    </article>
  {% endfor %}
{% endif %}

{% set limit = 4 %}

{% if rows|length > limit %}
  <div class="pager pager-load-more" data-limit="{{ limit }}">
    <span class="pager-next first last">
      <a class="load-more">See more</a>
    </span>
  </div>
{% endif %}
