{#
 * @file
 * Default simple view template to display all the fields as a row. The template
 * outputs a full row by looping through the $fields array, printing the field's
 * HTML element (as configured in the UI) and the class attributes. If a label
 * is specified for the field, it is printed wrapped in a <label> element with
 * the same class attributes as the field's HTML element.
 *
 * - $view: The view in use.
 * - $fields: an array of $field objects. Each one contains:
 *   - $field.content: The output of the field.
 *   - $field.raw: The raw data for the field, if it exists. This is NOT output
 *     safe.
 *   - $field.element_type: The HTML element wrapping the field content and
 *     label.
 *   - $field.attributes: An array of attributes for the field wrapper.
 *   - $field.handler: The Views field handler object controlling this field.
 *     Do not use var_export to dump this object, as it can't handle the
 *     recursion.
 * - $row: The raw result object from the query, with all data it fetched.
 *
 * @see template_preprocess_semanticviews_view_fields()
 * @ingroup views_templates
 * @todo Justify this template. Excluding the PHP, this template outputs angle
 * brackets, the label element, slashes and whitespace.
#}
{{ attach_library('nysenate_theme/nysenate-search-results-listing') }}

<article class="c-block c-block-press-release">
  <div class="c-press-release--header">
    <p class="c-press-release--title">{{ title }}</p>
    {% for issue in issues %}
      {% if loop.last %}
        <a href="{{ issue.url }}" class="c-press-release--topic">{{ issue.name }}</a>
      {% else %}
        <a href="{{ issue.url }}" class="c-press-release--topic">{{ issue.name }}</a>,
      {% endif %}
    {% endfor %}
  </div>
  <div class="c-press-release--body {% if img_src %}c-press-release--body__has-img {% endif %}">
    <div>
      <h3 class="c-press-release--descript">
        <a href="{{ description.url }}">{{ description.text }}</a>
      </h3>
      <p class="c-press-release--senator"><a href="{{ senator.url }}">{{ senator.name }}</a></p>
      <p class="c-press-release--date">
        <span class="date-display-single">{{ date }}</span>
      </p>
    </div>
    {% if img_src %}
      <!-- if has video thumbnail it would go here -->
      <div class="c-press-release--img">{{ img_src }}</div>
    {% endif %}
  </div>
</article>
