<div class="c-block c-container c-container--const-inbox">
  <h3 class="c-container--title">
    {{ title }}
  </h3>
  <a class="c-container--cta" href={{cta.link}}>{{ cta.label }}</a>

  <div class="c-search-form">
    <div class="search-wrapper">
      <label for="messagesearch">Message Search</label>
      <div class="container-inline form-wrapper">
        <div class="form-item form-type-textfield form-item-messagesearch">
          <label class="element-invisible" for="edit-messagesearch">Message Search
          </label>
          <input class="c-site-search--box icon_after__search form-text form-text" type="search" id="edit-messagesearch" name="messagesearch" value="" size="60" maxlength="128">
        </div>
        <button class="c-site-search--btn form-submit" id="edit-submit" name="op" value="Search" type="submit"></button>
      </div>
    </div>

    <div class="search-wrapper">
      <label for="usersearch">Name Search</label>
      <div class="container-inline form-wrapper">
        <div class="form-item form-type-textfield form-item-usersearch">
          <label class="element-invisible" for="edit-usersearch">Name Search
          </label>
          <input class="c-site-search--box icon_after__search form-text form-text" type="search" id="edit-usersearch" name="usersearch" value="" size="60" maxlength="128">
        </div>
        <button class="c-site-search--btn form-submit" id="edit-submit" name="op" value="Search" type="submit"></button>
      </div>
    </div>

    <div class="search-wrapper">
      <label for="issuesearch">Issue Search</label>
      <div class="container-inline form-wrapper">
        <div class="form-item form-type-textfield form-item-issuesearch" role="application">
          <label class="element-invisible" for="edit-issuesearch">Issue Search
          </label>
          <input class="c-site-search--box icon_after__search form-text form-text form-autocomplete" type="search" id="edit-issuesearch" name="issuesearch" value="" size="60" maxlength="128" autocomplete="OFF" aria-autocomplete="list"><input type="hidden" id="edit-issuesearch-autocomplete" value="https://dev-ny-senate.pantheonsite.io/index.php?q=taxonomy/autocomplete/field_issues" disabled="disabled" class="autocomplete autocomplete-processed">
          <span class="element-invisible" aria-live="assertive" aria-atomic="true" id="edit-issuesearch-autocomplete-aria-live"></span>
        </div>
        <button class="c-site-search--btn form-submit" id="edit-submit" name="op" value="Search" type="submit"></button>
      </div>
    </div>

    <div class="search-wrapper">
      <label for="billsearch">Bill Search</label>
      <div class="container-inline form-wrapper">
        <div class="form-item form-type-textfield form-item-billsearch" role="application">
          <label class="element-invisible" for="edit-billsearch">Bill Search
          </label>
          <input class="c-site-search--box icon_after__search form-text form-text form-autocomplete" onchange="this.form.submit();" type="search" id="edit-billsearch" name="billsearch" value="" size="60" maxlength="128" autocomplete="OFF" aria-autocomplete="list"><input type="hidden" id="edit-billsearch-autocomplete" value="https://dev-ny-senate.pantheonsite.io/index.php?q=nys-inbox/autocomplete/bill-search" disabled="disabled" class="autocomplete autocomplete-processed">
          <span class="element-invisible" aria-live="assertive" aria-atomic="true" id="edit-billsearch-autocomplete-aria-live"></span>
        </div>
        <button class="c-site-search--btn form-submit" id="edit-submit" name="op" value="Search" type="submit"></button>
      </div>
    </div>
  </div>

  <button id="edit-go" name="op" value="Search" type="submit">Search</button>

  <div class="inbox-action-links">
    <div class="select-all-messages">
      <div class="form-item form-type-checkbox form-item-check-all">
        <input id="checkall" type="checkbox" name="check_all" value="1" class="form-checkbox">
        <label class="option" for="edit-check-all">Check All
        </label>

      </div>
    </div>
    <div class="action-button-wrapper">
      <div class="form-actions form-wrapper" id="edit-actions">
        <button id="edit-delete" name="delete" value="Delete" type="button" class="ajax-processed" disabled="">Delete</button>
        <button class="icon-before__contact" id="edit-message" name="op" value="Message" type="submit" disabled="">Message</button>
      </div>
    </div>
  </div>

  <div id="inbox_message_table">
    {% if messages is not empty %}
      <table class="privatemsg-list tableheader-processed sticky-enabled" width="100%">
        <thead>
          <tr>
            <th></th>
            <th class="privatemsg-header-name">name</th>
            <th class="privatemsg-header-subject">subject</th>
            <th sort="desc" class="privatemsg-header-lastupdated">Date Sent</th>
            <th class="privatemsg-header-downarrow"></th>
          </tr>
        </thead>
        <tbody>

          {% for message in messages %}
            <tr>
              <td>
                <div class="form-item form-type-checkbox form-item-list-402746">
                  <input class="privatemsg-list tableheader-processed form-checkbox" width="100%" type="checkbox" id="edit-list-402746" name="list[402746]" value="402746">
                </div>
              </td>
              <td class="privatemsg-message-information">
                <div class="privatemsg-author-name">
                  <a href="/users/mediacurrentuser-0/dashboard/issues" class="nys-dashboard-user-link">{{message.name}}</a>
                </div>
                {# <div id="message-preview-402746" class="message-preview visible">
                                                                                                  <a href="/users/mediacurrentuser-0/dashboard/inbox/reply/402746">Test
                                                                                                  </a>
                                                                                                </div> #}
                <div id="message-body-402746" class="message-body">
                  <p>Test</p>
                </div>
              </td>
              <td class="privatemsg-list-subject-item">
                <div class="subject">
                  <a href="/users/mediacurrentuser-0/dashboard/inbox/reply/402746">{{message.subject}}</a>
                </div>
              </td>
              <td class="privatemsg-list-date">{{message.date_sent}}</td>
              <td class="privatemsg-list-issue">
                <div class="message-body-toggle" data-thread_id="402746">⌄</div>
                <div
                  class="message-action-buttons" style="display: none;">
                  {# <a class="forward-button" id="forward-button-402746" href="/users/mediacurrentuser-0/dashboard/inbox/forward/402746">Forward</a>
                                                      <a class="reply-button" id="reply-button-402746" href="/users/mediacurrentuser-0/dashboard/inbox/reply/402746">Reply</a> #}

                  {% include "@nysenate_theme/button/button.twig" with { button: { url: "", modifier: "", text: "Forward" } } only %}
                  {% include "@nysenate_theme/button/button.twig" with { button: { url: "", modifier: "", text: "Reply" } } only %}
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <table class="privatemsg-list tableheader-processed sticky-enabled" width="100%">
        <thead>
          <tr>
            <th class="privatemsg-header-name">name</th>
            <th class="privatemsg-header-subject">subject</th>
            <th sort="desc" class="privatemsg-header-lastupdated">Date Sent</th>
            <th class="privatemsg-header-downarrow"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd">
            <td colspan="4" class="empty message">No messages available.</td>
          </tr>
        </tbody>
      </table>
    {% endif %}
  </div>
</div>
