{{ attach_library('nysenate_theme/nysenate-my-dashboard') }}
{%
  set classes, type_icon_map, type_label_map  = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ],
  {
    'article': 'article',
    'bill': 'gavel',
    'in_the_news': 'newspaper-clipping',
    'meeting': 'calendar',
    'petition': 'clipboard',
    'public_hearing': 'calendar-blank',
    'resolution': 'scales',
    'webform': 'question',
  },
  {
    'bill': 'Bill',
    'in_the_news': 'News',
    'meeting': 'Meetings',
    'petition': 'Petition',
    'public_hearing': 'Public Hearing',
    'resolution': 'Resolution',
    'webform': 'Questionnaire',
  }
%}
<article{{ attributes.addClass(classes) }}>
  <div class="c-my-dashboard--type-wrapper">
    <i class="ph ph-{{ attribute(type_icon_map, node.bundle) }}"></i>
    <span class="c-my-dashboard--type">
      {% if node.bundle == 'article' %}
        {{ content.field_category.0 }}
      {% else %}
        {{ attribute(type_label_map, node.bundle) }}
      {% endif %}
    </span>
  </div>
  <h2{{ title_attributes }}>
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </h2>
  {% if node.field_subtitle.value %}
    {{ content.field_subtitle }}
  {% elseif node.field_subhead.value %}
    {{ content.field_subhead }}
  {% elseif node.body.value %}
    {{ content.body }}
    <span class="c-my-dashboard--read-more"><a href="{{ url }}">... Read More</a></span>
  {% endif %}
  {% if node.field_date_range.value %}
    {{ content.field_date_range }}
    {{ node.field_date_range.value|date('U')|format_date('time') }}
  {% endif %}
  {{ content|without('field_category', 'field_subtitle', 'field_subhead', 'field_date_range', 'body') }}
</article>
