{{ attach_library('nysenate_theme/nysenate-my-dashboard') }}
{%
  set classes, type_icon_map, type_label_map  = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    node.field_image_main.value ? 'node--teaser-with-image'
  ],
  {
    'article': 'article',
    'bill': 'gavel',
    'in_the_news': 'newspaper-clipping',
    'meeting': 'calendar',
    'petition': 'clipboard',
    'public_hearing': 'calendar-blank',
    'resolution': 'scales',
    'webform': 'question',
  },
  {
    'bill': 'Bill',
    'in_the_news': 'News',
    'meeting': 'Meeting',
    'petition': 'Petition',
    'public_hearing': 'Public Hearing',
    'resolution': 'Resolution',
    'webform': 'Questionnaire',
  }
%}
{% set read_more %}
  <span class="c-my-dashboard--read-more"><a href="{{ url }}">... Read More</a></span>
{% endset %}
<article{{ attributes.addClass(classes) }}>
  <div class="c-my-dashboard--type-wrapper">
    <i class="ph ph-{{ attribute(type_icon_map, node.bundle) }}"></i>
    <span class="c-my-dashboard--type">
      {% if node.bundle == 'article' %}
        {{ content.field_category.0 }}
      {% else %}
        {{ attribute(type_label_map, node.bundle) }}
      {% endif %}
    </span>
  </div>
  <h2{{ title_attributes }}>
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </h2>
  <div class="c-my-dashboard--blurb">
    {% if node.field_subtitle.value %}
      {{ content.field_subtitle|render|striptags }}{{ read_more }}
    {% elseif node.field_subhead.value %}
      {{ content.field_subhead|render|striptags }}{{ read_more }}
    {% elseif node.body.value %}
      {{ content.body|render|striptags }}{{ read_more }}
    {% endif %}
  </div>
  <div class="c-my-dashboard--details">
    <span class="c-my-dashboard--date-and-byline">
    {% if node.field_date_range.value %}
      {{ node.field_date_range.value|date('U')|format_date('publish_date') }}
      | {{ node.field_date_range.value|date('U')|format_date('time') }}
    {% elseif node.field_date.value %}
      {{ node.field_date.value|date('U')|format_date('publish_date') }}
      {% if node.field_senator_multiref.value  %}
        | By Senator {{ content.field_senator_multiref.0 }}
      {% endif %}
    {% endif %}
    </span>
    {% if node.field_issues.value %}
      <br><span class="c-my-dashboard--issues">{{ content.field_issues }}</span>
    {% endif %}
  </div>
  {% if node.field_image_main.value %}
    <div class="c-my-dashboard--image">
      {{ content.field_image_main }}
    </div>
  {% endif %}
</article>
