{{ attach_library('nysenate_theme/hero') }}

<section class="hero">
{# is_collapsed variable is only for patternlab view #}
  <div class="container {% if is_collapsed %} l-header__collapsed {% endif %}">
    {% if type == "senator" %}
      {# start of senator hero #}
      <div class="l-header-region l-row l-row--hero c-senator-hero">
        {% if senator_microsite_link %}
          <a href="{{ senator_microsite_link }}">
        {% endif %}
          <div class="c-senator-hero--img" id="senatorImage">
            {% if image_hero %}
              {{ image_hero }}
            {% else %}
              <img src="{{ default_image }}">
            {% endif %}
          </div>
        {% if senator_microsite_link %}
          </a>
        {% endif %}
        <div class="c-senator-hero--info">
          <div>
            <h2 class="c-senator-hero--title">
              {% if not is_active %}former
              {% endif %}new york state senator<br>
              <span class="c-senator-hero--name">{{ senator_name }}</span>
            </h2>
            <div class="c-senator-hero--info-secondary">
              <p class="c-senator-hero--roles">
                {% if not is_active %}
                  {{ inactive_senator_message }}
                {% else %}
                  {{ current_duties }}
                {% endif %}
              </p>
              <p class="c-senator-hero--district">
                {% if senator_party %}
                  <span class="c-senator-hero--party">
                    {{ senator_party }}
                  </span>
                {% endif %}
                {% if district_number %}
                  <a href="{{ district_number.url }}">{{ district_number.text }}
                    Senate District</a>
                {% endif %}
              </p>
              <ul class="c-senator-hero--social">
                {% for social in socials %}
                  <li class="{% if loop.first %}first {% endif %}leaf c-senator-hero--social-item {{ social.name }}">
                    <a href="{{ social.url }}" target="_blank" class="icon-replace__{{ social.name }}">{{ social.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        {% if user_id == 0 %}
          {% if is_active %}
            <a href="/registration/nojs/form/start/message-senator?senator=4518811" class="c-block--btn c-senator-hero--contact-btn icon-before__contact med-bg">message senator</a>
          {% else %}
            <a href="/user/login/find-my-senator" class="c-block--btn c-senator-hero--contact-btn icon-before__find-senator med-bg">find your senator</a>
          {% endif %}
        {% else %}
          {% if is_active %}
            <a class="c-block--btn c-senator-hero--contact-btn icon-before__contact med-bg" href="{{ message_senator_link }}">message senator</a>
          {% else %}
            <a class="c-block--btn c-senator-hero--contact-btn icon-before__contact med-bg" href="{{ your_dashboard_link }}">your dashboard</a>
          {% endif %}
        {% endif %}
      </div>
      {# end of senator hero #}
    {% else %}
      {% include '@nysenate_theme/nysenate-actionbar/nysenate-actionbar.twig' %}
      <div class="l-header-region l-row c-hero">
        <div class="c-hero-livestream-wrapper">
          <div class="c-hero-livestream-video">
            {% if video %}
              {%
                include '@rain_theme/media/media.twig' with {
                  video: video
                } only
              %}
            {% endif %}
          </div>
          <div class="c-hero-livestream-data">
            <div class="c-hero-livestream-meta">
              <label>{{ 'Live Broadcast'|t }}</label>
              <h3>
                <a href="{{ url_calendar }}">{{ 'Session'|t }}</a>
              </h3>
              <div class="livestream-date">
                <span class="date-display-single">{{ date }}</span>
              </div>
            </div>
            <div class="c-hero-livestream-description">
              <div>
                {{ "Live floor proceedings of the New York State Senate,
                          taking place at the NY State Capitol
                          in Albany, NY."|t }}
              </div>
              <ul class="c-hero-livestream-links">
                <li>
                  <a href="{{ url_calendar }}">{{ "Review the active list, calendar, and other agenda items."|t }}</a>
                </li>
                <li>
                  <a href="/rules">{{ "Review the senate rules."|t }}</a>
                </li>
                <li>
                  <a href="https://twitter.com/nysenate">{{ "Follow along with session proceedings on Twitter."|t }}</a>
                </li>
                <li>
                  <a href="/about">{{ "Learn more about the NY State Senate."|t }}</a>
                </li>
                <li>
                  <a href="/citizen-guide/bill-alerts">
                    <label class="news">{{ "NEW: "|t }}
                    </label>
                    {{ "Short on time? Get bill status alerts in your email inbox."|t }}
                  </a>
                </li>
              </ul>
              <div>
                <a href="/taking-action">{{ "Learn more"|t }}</a>
                {{ "about how you can participate in NY's legislative process with"|t }}
                <a href="/register">
                  {{ "NYSenate.gov."|t }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</section>
