{{ attach_library('nysenate_theme/hero') }}
{{ attach_library('rain_theme/media') }}
{% import '@nysenate_theme/icons/_icons-macro.twig' as icons %}

<section class="hero {% if type == "senator" %} hero--senator{% if not is_senator_landing %} hero--senator-collapsed{% endif %}{% else %} hero--homepage{% endif %} {% if type == " default" %} hero--default{% endif %} {% if type == " press_conference" or type == " public_hearing" or type == " session" %}hero--public-hearing{% endif %}">
  {% if type == "senator" %}
    {# start of senator hero #}
    <div class="l-header-region l-row l-row--hero c-senator-hero">
      <div class="c-senator-hero--img" id="senatorImage">
        {% if not is_senator_landing %}
          {{ senator_headshot }}
        {% elseif image_hero %}
          {{ image_hero }}
        {% else %}
          <img src="{{ default_image }}">
        {% endif %}
      </div>
      {% if is_senator_landing %}
        <div id="smallShotImage">
          {{ senator_headshot }}
        </div>
      {% endif %}
      <div class="c-senator-hero--info {% if not is_active %} inactive-pallette {% endif %}">
        <div>
          <h2 class="c-senator-hero--title">
            {% if incoming == "yes" %}incoming{% endif %}
            {% if not is_active and incoming == "no" %}former
            {% endif %}New York State Senator<br>
            {% if senator_microsite_link %}
              <a href="{{ senator_microsite_link }}" class="c-senator-hero--name">{{ senator_name }}</a>
            {% else %}
              <span class="c-senator-hero--name">{{ senator_name }}</span>
            {% endif %}
          </h2>
          <div class="c-senator-hero--info-secondary">
            <p class="c-senator-hero--roles">
              {% if not is_active %}
                {{ inactive_senator_message }}
              {% else %}
                {{ current_duties }}
              {% endif %}
            </p>
            <p class="c-senator-hero--district">
              {% if senator_party and is_active %}
                <span class="c-senator-hero--party">
                  {{ senator_party }}
                </span>
              {% endif %}
              {% if district_number and is_active %}
                <a href="{{ senator_microsite_link }}/district">{{ district_number.text }}
                  Senate District</a>
              {% endif %}
            </p>
            <ul class="c-senator-hero--social">
              {% for social in socials %}
                <li class="{% if loop.first %}first {% endif %}leaf c-senator-hero--social-item {{ social.name }}">
                  <a href="{{ social.url }}" target="_blank"%}">{{ icons.get(social.name) }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% if is_active %}
        <a class="icon-before__contact c-block--btn c-senator-hero--contact-btn med-bg" href="{{ message_senator_link }}">message senator</a>
      {% else %}
        <a class="{{ is_logged ? 'icon-before__contact' : 'icon-before__find-senator' }} c-block--btn c-senator-hero--contact-btn med-bg" href="{{ is_logged ? your_dashboard_link : '/find-my-senator' }}">
          {{ is_logged ? "your dashboard"|t : "find your senator"|t }}</a>
      {% endif %}
    </div>
    {# end of senator hero #}
  {% elseif type == "press_conference" or type == "public_hearing" or type == "session" %}
    <div class="l-header-region l-row c-hero">
      <div class="c-hero-livestream-wrapper">
        <div class="c-hero-livestream-video">
          {% if video_id and video_status == "live" %}
            <div class="media-item__responsive-video">
              <iframe width='100%' height='315' id="UstreamIframe" src="https://www.ustream.tv/embed/{{ video_id }}" allowfullscreen webkitallowfullscreen frameborder="0" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          {% elseif video_id and video_status == "redirect" %}
            <div class="media-item__responsive-video">
              <iframe width='100%' height='315' id="UstreamIframe" src="{{ video_id }}" allowfullscreen webkitallowfullscreen frameborder="0" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          {% endif %}
        </div>
        <div class="c-hero-livestream-data">
          <div class="c-hero-livestream-meta">
            <label>{{ 'Live Broadcast'|t }}</label>
            <h3>
              <a href="{{ url_calendar }}">
                {% if title %}
                  {{ title }}
                {% else %}
                  {{ 'Session'|t }}
                {% endif %}
              </a>
            </h3>
            <div class="livestream-date">
              <span class="date-display-single">{{ date }}</span>
            </div>
          </div>
          <div class="c-hero-livestream-description">
            <div>
              {{ "Live floor proceedings of the New York State Senate,
                        taking place at the NY State Capitol
                        in Albany, NY."|t }}
            </div>
            <ul class="c-hero-livestream-links">
              <li>
                <a href="{{ url_calendar }}">{{ "Review the active list, calendar, and other agenda items."|t }}</a>
              </li>
              <li>
                <a href="/sites/default/files/admin/structure/media/manage/filefile/a/2024-02/2023-24_rules_of_the_senate_-_march_2023_update.pdf">{{ "Review the Senate rules."|t }}</a>
              </li>
              <li>
                <a href="https://twitter.com/nysenate">{{ "Follow session proceedings on X."|t }}</a>
              </li>
              <li>
                <a href="/about">{{ "Learn more about the NY State Senate."|t }}</a>
              </li>
              <li>
                <a href="/citizen-guide/bill-alerts">
                  {{ "Short on time? Get bill status alerts in your email inbox."|t }}
                </a>
              </li>
            </ul>
            <div>
              <a href="/citizen-guide">{{ "Learn more"|t }}</a>
              {{ "about how you can participate in NY's legislative process with"|t }}
              <a href="/user/register">
                {{ "NYSenate.gov."|t }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="first last odd">

      <div class="l-header-region l-row l-row--hero c-hero">
        {% if image_hero %}
          {{ image_hero }}
        {% else %}
          <img src="/themes/custom/nysenate_theme/src/assets/default_image.jpeg"/>
        {% endif %}
        {% if title %}
          <div class="l-row c-hero--tout c-hero--featured">
            <p class="c-hero--date">
              <span class="date-display-single">{{ date }}</span>
            </p>
            <p class="c-hero--committee">{{ committee }}</p>
            <h3 class="c-hero--title">
              <a href="{{ url }}">{{ title }}</a>
            </h3>
          </div>
        {% else %}
          <div class="l-row l-row--main c-hero--tout">
            <p class="c-hero--welcome">Share your opinion on the
              <a href="/explore-issues">issues</a>
              facing our state, say aye or nay to the
              <a href="/legislation">bills</a>
              before our legislature, and let your voice
              <a href="/user/login">be heard</a>.</p>
          </div>
        {% endif %}
      </div>

      {%
        include '@nysenate_theme/nysenate-actionbar/nysenate-actionbar.twig' with {
          is_logged: is_logged,
          actionbar
        } only
      %}

    </div>
  {% endif %}
</section>
