{{ attach_library('nysenate_theme/hero') }}

<section class="hero">
  <div class="container">
    {% include '@nysenate_theme/nysenate-actionbar/nysenate-actionbar.twig' %}

    <div class="l-header-region l-row c-hero">
      <div class="c-hero-livestream-wrapper">
        <div class="c-hero-livestream-video">
          {% if video %}
            {%
              include '@rain_theme/media/media.twig' with {
                video: video
              } only
            %}
          {% endif %}
        </div>

        <div class="c-hero-livestream-data">
        <div class="c-hero-livestream-meta">
          <label>{{ 'Live Broadcast'|t }}</label>
          <h3><a href="{{ url_calendar }}">{{ 'Session'|t }}</a>
          </h3>
          <div class="livestream-date"><span class="date-display-single">{{ date }}</span></div>
        </div>
        <div class="c-hero-livestream-description">
          <div>
            {{ "Live floor proceedings of the New York State Senate,
                        taking place at the NY State Capitol
                        in Albany, NY."|t }}
          </div>
          <ul class="c-hero-livestream-links">
            <li>
              <a href="{{ url_calendar }}">{{ "Review the active list, calendar, and other agenda items."|t }}</a>
            </li>
            <li>
              <a href="/rules">{{ "Review the senate rules."|t }}</a>
            </li>
            <li>
              <a href="https://twitter.com/nysenate">{{ "Follow along with session proceedings on Twitter."|t }}</a>
            </li>
            <li>
              <a href="/about">{{ "Learn more about the NY State Senate."|t }}</a>
            </li>
            <li>
              <a href="/citizen-guide/bill-alerts">
                <label class="news">{{ "NEW: "|t }} </label>
                {{ "Short on time? Get bill status alerts in your email inbox."|t }}
              </a>
            </li>
          </ul>
          <div>
            <a href="/taking-action">{{ "Learn more"|t }}</a>
            {{ "about how you can participate in NY's legislative process with"|t }}
            <a href="/register"> {{ "NYSenate.gov."|t }}</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
