{{ attach_library('nysenate_theme/dashboard-issues') }}

<div class="c-block c-container c-container--const-issues-follow">
  <div class="c-container--body">
    <section class="top-issue-updates">

      {% if has_followed_issues %}

        <label for="edit-type">
          Type
        </label>
        <div class="view-filters">
          <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-field-party-value form-item-field-party-value">
            <select data-drupal-selector="edit-field-party-value" id="edit-field-party-value" name="field_party_value" class="form-select">
              {% for option in select_options %}
                <option value="{{ option.value }}" {% if loop.first %} selected="selected" {% endif %}>{{ option.text }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        {% if issue_articles %}
          {% for issue in issue_articles %}
            <div class="{% if loop.first %} first {% endif %} {% if loop.index is odd %} u-odd {% else %} u-even {% endif %}">
              {% include "@nysenate_theme/nysenate-press-release/nysenate-press-release.twig" with {
                article: issue
              } only %}
            </div>
          {% endfor %}
        {% else %}
          <div class="view-empty">
            <p>No Issues to show.<br/><a href="{{ explore_issues_url }}" class="explore-link icon-after__right">
                explore all issues</a>
            </p>
          </div>
        {% endif %}
        {% if issue_articles|length > 5 %}
          <div class="item-list">
            <ul class="pager pager-load-more">
              <li class="pager-next first last">
                <a href="{{ panel.pagination_link }}">See More
                  {{ panel.pagination_link_text }}</a>
              </li>
            </ul>
          </div>
        {% endif %}

        <div class="c-follow-issue--header">
          <h2 class="c-container--title">Issues You're Following</h2>
          <a href="{{ explore_issues_url }}" class="explore-link icon-after__right">explore all issues</a>
        </div>

      {% else %}

        <div class="view-header">
          <h2 class="c-container--title">Find and Follow Issues</h2>
          <p>You have not followed any issues. When you follow issues, news and updates will appear here related to those issues.
            <a href="{{ explore_issues_url }}" class="explore-link icon-after__right">
              explore all issues</a>
          </p>
        </div>

      {% endif %}

    </section>
  </div>
</div>
{% if issue_cards %}
  <div class="view-content">
    {% include "@nysenate_theme/nysenate-issues/nysenate-issues.twig" with {
        issues: issue_cards
      } only %}
  </div>
{% else %}
  <div class="view-empty">
    <p>No Issues to show.<br/><a href="{{ explore_issues_url }}" class="explore-link icon-after__right">
        explore all issues</a>
    </p>
  </div>
{% endif %}

{% if issue_cards|length > 12 %}
  <div class="item-list">
    <ul class="pager pager-load-more">
      <li class="pager-next first last">
        <a href="{{ panel.pagination_link }}">Load More
          {{ panel.pagination_link_text }}</a>
      </li>
    </ul>
  </div>
{% endif %}
