{% if active_senator_links %}
  <nav class="c-managed-senator-selector" aria-label="senator dashboard managed senator selector">
    <ul class="c-managed-senator-selector__selected-senator">
      {% for link in active_senator_links %}
        {% if link.is_active %}
          <li>
            <a href="{{ link.homepage_url }}">{{ link.label }}</a>
            <button class="c-managed-senator-selector__toggle-open">
              <span class="c-managed-senator-selector__toggle-open-icon"></span>
            </button>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class="c-managed-senator-selector__selectable-senators is-collapsed" aria-expanded="false">
      {% for link in active_senator_links %}
        <li class="{{ link.is_active ? 'is-active' : '' }}">
          <a href="{{ link.url }}">{{ link.label }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
