{% set menu_class =
  mode == 'header' ? 'header-menu'
  : (mode == 'manage_content' ? 'manage-content-menu'
  : (mode == 'constituent_activity' ? 'constituent-activity-menu' : ''
  ))
%}

<div class="senator-dashboard-menu {{ menu_class }}">
  <div class="active-senator-menu">
    <ul>
      {% for link in active_senator_links %}
        <li class="{{ link.is_active ? 'is-active-senator' : '' }}">
          <a href="{{ link.url }}">{{ link.label }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% if mode == 'manage_content' or mode == 'header' %}
    <div class="manage-senator-menu">
    <h3>{{ manage_senator_links.overview.label }}</h3>
    <ul>
      <li>
        <a href="{{ manage_senator_links.overview.link.url }}">{{ manage_senator_links.overview.link.label }}</a>
      </li>
    </ul>
    <h4>{{ manage_senator_links.info.label }}</h4>
    <ul>
      {% for link in manage_senator_links.info.links %}
        <li><a href="{{ link.url }}">{{ link.label }}</a></li>
      {% endfor %}
    </ul>
    <h4>{{ manage_senator_links.content.label }}</h4>
    <ul>
      {% for link in manage_senator_links.content.links %}
        <li><a href="{{ link.url }}">{{ link.label }}</a></li>
      {% endfor %}
    </ul>
    </div>
  {% endif %}
  {% if mode == 'constituent_activity' or mode == 'header' %}
    <div class="constituent-activity-menu">
    <h3>{{ 'Constituent Activity'|t }}</h3>
    <ul>
      {% for link in constituent_activity_links %}
        <li><a href="{{ link.url }}">{{ link.label }}</a></li>
      {% endfor %}
    </ul>
    </div>
  {% endif %}
</div>
