{{ attach_library('nysenate_theme/nysenate-about-leadership') }}

<div class="c-block c-block--about-leadership">
  <div class="c-container--header">
    <h2 class="c-container--title">{{ title }}</h2>
  </div>
  {{ body }}
  {% if cta.text %}
    <a href="{{ cta.href }}" class="c-container--link">{{ cta.text }}</a>
  {% endif %}
</div>
