{{ attach_library('nysenate_theme/nysenate-senate-seal') }}

<div class="c-block c-block--about c-block--about-seal">
  {% if title %}
    <h3 class="nys-subtitle-title">{{ title }}</h3>
  {% endif %}
  {% if media %}
    {{ media }}
  {% endif %}
  {% if description %}
    <p>{{ description }}</p>
  {% endif %}

  {% if items|length %}
    <ul>
      {% for item in items %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
