{{ attach_library('nysenate_theme/nysenate-happening-now') }}
{% import '@rain_theme/icons/_icons-macro.twig' as icons %}

<div class="nysenate-happening-now">
  <div class="nysenate-happening-now__header">
    <p class="nysenate-happening-now__title">Happening now live</p>
  </div>
  <div class="nysenate-happening-now__container">
    <div class="item-logo">
      {% if main_image %}
        {{ main_image }}
      {% else %}
        <img src="/sites/default/files/styles/760x377/public/press-release/main-image/senate_seal_in_a_rectangle_2.png?itok=7S2Glqlt" width="760" height="377" alt="" loading="lazy" typeof="foaf:Image" class="image-style-_60x377">
      {% endif %}
    </div>
    <div class="item-content">
      <h2 class="event-name">
        {% if event_url %}<a href='{{ event_url }}'>{% endif %}
          {{ event_name }}
        {% if event_url %}</a>{% endif %}
      </h2>
      {% if livestream_cta.text %}
        {% if livestream_cta.url %}<a class="stream-link" href="{{ livestream_cta.url }}">{% endif %}
          {{ icons.get('youtube-2') }}<span>{{ livestream_cta.text }}</span>
        {% if livestream_cta.url %}</a>{% endif %}
        <p class="stream-title">{{ livestream_cta.stream_title }}</p>
      {% endif %}
    </div>
  </div>
</div>
