{{ attach_library('nysenate_theme/featured-story') }}
{% import '@rain_theme/icons/_icons-macro.twig' as icons %}

<div class="nysenate-happening-now">
  <div class="view-header c-container--header__top-border">
    <h3 class="c-container--title">Happening now live</h3>
  </div>
  <div class="c-event-featured-story">
    <div class="story-container">
    <div class="l-left">
      {% if main_image %}
        {{ main_image }}
      {% else %}
        <img src="/sites/default/files/styles/760x377/public/press-release/main-image/senate_seal_in_a_rectangle_2.png?itok=7S2Glqlt" width="760" height="377" alt="" loading="lazy" typeof="foaf:Image" class="image-style-_60x377">
      {% endif %}
    </div>
    <div class="l-right">
      <h3 class="c-story-name">
        {% if event_url %}<a href='{{ event_url }}'>{% endif %}
          {{ event_name }}
        {% if event_url %}</a>{% endif %}
      </h3>
      {% if livestream_cta.text %}
        <div class="c-event-video--home">
        {% if livestream_cta.url %}<a class="stream-link" href="{{ event_url }}">{% endif %}
          {{ icons.get('youtube-2') }}<span>{{ livestream_cta.text }}</span>
        {% if livestream_cta.url %}</a>{% endif %}
        <p class="stream-title">{{ livestream_cta.stream_title }}</p>
        </div>
      {% endif %}
      <div class="c-featured-story-issue-tag">
        {% for issue in issues %}
          <a class="c-story-link" href="{{ issue.url }}">{{ issue.text }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
      </div>
    </div>
    </div>
  </div>
</div>
