{{ attach_library('nysenate_theme/nysenate-happening-now') }}
{% import '@rain_theme/icons/_icons-macro.twig' as icons %}

<div class="nysenate-happening-now">
  <div class="nysenate-happening-now__header">
    <p class="nysenate-happening-now__title">Happening now live</p>
  </div>
  <div class="nysenate-happening-now__container">
    <div class="item-logo">
      <img src="https://via.placeholder.com/250">
    </div>
    <div class="item-content">
      <h2 class="event-name">{{ event_name }}</h2>
      <a class="stream-link" href="{{ livestream_cta.url }}">{{ icons.get('youtube-2') }}<span>{{ livestream_cta.text }}</span></a>
      <p class="stream-title">{{ livestream_cta.stream_title }}</p>
    </div>
  </div>
</div>
