{{ attach_library('nysenate_theme/nysenate-header') }}
{% import '@nysenate_theme/icons/_icons-macro.twig' as icons %}

{% set error_page = false or is_error_page %}

<header
  id="js-sticky" role="banner" class="l-header{{ error_page ? ' error-page-header' : '' }}{{ not is_senator_landing ? ' l-header__collapsed' : '' }}" style="z-index: 100;">
  <!-- Begin Header -->
  <div class="panel-pane pane-block pane-nys-blocks-sitewide-header-bar-block">


    <div class="pane-content">

      <section class="l-header-region l-row l-row--nav c-header-bar">
        <div class="c-topbar">

          <div class="c-page-title">
            <a href="/" rel="home" title="NY State Senate Home" class="active GoogleAnalyticsET-processed">The New York State Senate</a>
          </div>

          <div
            class="c-header--connect">
            <!-- if we're on the main site there are social buttons -->
            <ul class="c-nav--social u-tablet-plus">
              {% for social in socials %}
                <li class="{% if loop.first %}first {% endif %}leaf">
                  <a href="{{ social.url }}" target="_blank">{{ icons.get(social.icon) }}</a>
                </li>
              {% endfor %}
            </ul>

            {% if is_logged %}
              {% if has_senator %}
                <a class="c-header--btn c-senator-header--btn" href="{{ senator_microsite_link }}">
                  <div class="nys-senator">
                    <div class="nys-senator--thumb">
                      {{ senator_image }}
                    </div>
                    <div class="nys-senator--info">
                      <h3 class="nys-senator--title">My Senator</h3>
                    </div>
                  </div>
                </a>
              {% endif %}
              {%
                include '@nysenate_theme/nysenate-header-user-menu/nysenate-header-user-menu.twig' with {
                  dashboard_link: dashboard_link,
                  user_first_name: user_first_name,
                  manage_dashboard_link: manage_dashboard_link,
                  edit_account_link: edit_account_link,
                  mobile_mode: 0,
                } only
              %}
            {% else %}
              <a class="c-header--btn c-header--btn__taking_action u-tablet-plus" href="/citizen-guide">get involved</a>
              <a class="c-header--btn c-header--btn__primary u-tablet-plus GoogleAnalyticsET-processed" href="/user/login">login</a>
            {% endif %}
          </div>
        </div>
      </section>
      <!--.c-header-bar -->
      <button id="" class="js-mobile-nav--btn c-block--btn c-nav--toggle icon-replace button--menu"></button>
      {% if actionbar.type != 'committee' %}
        {% block microsite_hero %}
          {% if microsite_hero %}
            {{ microsite_hero }}
          {% endif %}
        {% endblock %}
      {% elseif type == 'senator' and actionbar.type == 'committee' %}
        {%
          include '@nysenate_theme/nysenate-actionbar/nysenate-actionbar.twig' with {
          is_logged: is_logged,
          actionbar,
        } only
        %}
      {% endif %}
      {% if type == 'senator' %}
        {{ microsite_menu }}
      {% else %}
        <div class="c-nav--wrap">
          <div class="c-nav l-row l-row--nav">
            <nav>
              {% block menu %}
                {%
                  include '@nysenate_theme/main-menu/main-menu.twig' with
                  {
                    items: items,
                    attributes: attributes,
                  }
                %}
              {% endblock %}
              {# {{ drupal_menu('main') }}#}
              <div class="u-mobile-only">
              {{ form }}
                <div>
                  <a class="c-site-search--link icon-after__right u-tablet-plus" href="{{ search.link.href }}">{{ search.link.text }}</a>
                </div>
              </div>
              <button class="js-search--toggle u-tablet-plus c-site-search--btn GoogleAnalyticsET-processed icon-replace__search">search</button>
              {% if socials %}
                <ul class="c-nav--social u-mobile-only">
                  {% for social in socials %}
                    <li class="{% if loop.first %}first {% endif %}leaf">
                      <a href="{{ social.url }}" target="_blank">{{ icons.get(social.icon) }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
              {% if not is_logged %}
                <div class="c-mobile-login--list u-mobile-only">
                  <span class="c-header--btn c-header--btn-login icon-before__recruit-friends">
                    <a href="/user/login">login</a>
                  </span>
                </div>
              {% else %}
                {%
                  include '@nysenate_theme/nysenate-header-user-menu/nysenate-header-user-menu.twig' with {
                  dashboard_link: dashboard_link,
                  user_first_name: user_first_name,
                  manage_dashboard_link: manage_dashboard_link,
                  edit_account_link: edit_account_link,
                  mobile_mode: 1,
                  senator_microsite_link: senator_microsite_link,
                } only
                %}
              {% endif %}
            </nav>
          </div>
        </div>
        <div class="u-tablet-plus c-site-search--container">
          <div>
            {{ form }}
          </div>
          <a class="c-site-search--link icon-after__right u-tablet-plus" href="{{ search.link.href }}">{{ search.link.text }}</a>
        </div>
      {% endif %}
    </div>
    {%
      if (not is_front and type != 'senator' and error_page == false)
      or (is_front and homepage_hero_node_type in ['press_conference', 'public_hearing', 'session'])
    %}
      {%
        include '@nysenate_theme/nysenate-actionbar/nysenate-actionbar.twig' with {
          is_logged: is_logged,
          actionbar,
        } only
      %}
    {% endif %}

  </div>
</header>
